# Final Project Spark DataFrames Notebook

### Small Data

### Make all scripts executable

In [1]:
!!chmod a+x ./*/*.py

["chmod: changing permissions of './P1/spark_df_p1.py': Operation not permitted",
 "chmod: changing permissions of './P2/spark_df_p2.py': Operation not permitted",
 "chmod: changing permissions of './P3/spark_df_p3.py': Operation not permitted",
 "chmod: changing permissions of './P4/spark_df_p4.py': Operation not permitted",
 "chmod: changing permissions of './P5/spark_df_p5.py': Operation not permitted"]

### Remove all Results

In [2]:
!rm -rf ./*/*.result

### P1

In [ ]:
%load ./P1/spark_df_p1.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/epa_hap_daily_summary-small.csv')
    #lines = sc.textFile('log.csv')

    # file mapping
    logRows = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[24], countyCode = arr[1], site_num = arr[2]))    
    
    # Dataframe creation
    logRowsDF = spark.createDataFrame( logRows )
    #logRowsDF = spark.createDataFrame( logRows )
    #logRowsDF = logRowsDF.distinct() # Makes sure we are using different monitors
    
    logRows2DF = logRowsDF.select('state','countyCode','site_num').distinct().groupBy('state')\
                                                                         .agg(count('site_num').alias('Nr of Monitors'))\
                                                                         .sort('Nr of Monitors', ascending = False)   
    logRows2DF.show(100,truncate=50)

    sc.stop()
except Exception as e:
    print(e)
    sc.stop()

In [4]:
!!time python ./P1/spark_df_p1.py > ./P1/p1.result

['21/12/23 23:10:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 3:=========>                                              (35 + 9) / 200]',
 '[Stage 3:===============>                                        (54 + 8) / 200]',
 '[Stage 3:=====================>                                  (75 + 8) / 200]',
 '[Stage 3:===========================>                           (101 + 8) / 200]',
 '[Stage 3:==================================>                    (127 + 9) / 200]',
 '[Stage 3:==========================================>            (156 + 8) / 200]',
 '[Stage 3:=================================================>     (179 + 8) / 200]',
 '                                                                                ',
 'real\t0m16.302s',
 'user\t0m1.146s',
 'sys\t0m1.010s']

In [5]:
!cat ./P1/p1.result

+--------------------+--------------+
|               state|Nr of Monitors|
+--------------------+--------------+
|          California|           162|
|               Texas|           132|
|           Minnesota|            94|
|                Ohio|            89|
|            Michigan|            84|
|            New York|            66|
|      South Carolina|            64|
|        Pennsylvania|            60|
|             Montana|            60|
|             Indiana|            52|
|            Colorado|            51|
|            Illinois|            50|
|             Florida|            50|
|      North Carolina|            49|
|          Washington|            42|
|           Louisiana|            40|
|             Arizona|            38|
|              Kansas|            37|
|             Georgia|            34|
|              Oregon|            31|
|            Kentucky|            30|
|             Alabama|            28|
|           Tennessee|            27|
|          New Jersey|            24|
|           Wisconsin|            24|
|             Vermont|            22|
|               Maine|            21|
|         Mississippi|            21|
|            Oklahoma|            20|
|            Virginia|            20|
|       Massachusetts|            19|
|                Iowa|            18|
|            Maryland|            17|
|          New Mexico|            17|
|               Idaho|            17|
|   Country Of Mexico|            16|
|         Connecticut|            15|
|            Missouri|            15|
|                Utah|            12|
|        Rhode Island|            12|
|              Alaska|            12|
|       New Hampshire|            12|
|       West Virginia|            10|
|            Arkansas|            10|
|             Wyoming|             9|
|              Nevada|             8|
|        North Dakota|             7|
|        South Dakota|             7|
|         Puerto Rico|             6|
|            Delaware|             6|
|            Nebraska|             6|
|              Hawaii|             5|
|District Of Columbia|             5|
|      Virgin Islands|             4|
+--------------------+--------------+

### P2

In [ ]:
%load ./P2/spark_df_p2.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( county_name = arr[25], state_code = arr[0], county_code = arr[1], arithmetic_mean = float(arr[16])))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")
    
    # Necessary computations to solve the problem
    finalDF = logRowsDF.withColumn('county', (col('state_code')+col('county_code'))) \
                    .drop('state_code') \
                    .drop('county_code') \
                    .groupBy('county','county_name').avg('arithmetic_mean') \
                    .withColumnRenamed('avg(arithmetic_mean)', 'pollutant_levels') \
                    .orderBy(col('pollutant_levels').desc()) \
                    .drop('county') \

    finalDF.show(20)
    sc.stop()
    
except Exception as err:
    print(err)
    sc.stop()

In [7]:
!!time python ./P2/spark_df_p2.py > ./P2/p2.result

['21/12/23 23:10:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '[Stage 0:============================================>              (3 + 1) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 3:===========================>                           (100 + 8) / 200]',
 '[Stage 3:========================================>              (146 + 9) / 200]',
 '[Stage 3:=====================================================> (193 + 7) / 200]',
 '                                                                                ',
 'real\t0m17.304s',
 'user\t0m1.182s',
 'sys\t0m1.015s']

In [8]:
!cat ./P2/p2.result

+---------------+------------------+
|    county_name|  pollutant_levels|
+---------------+------------------+
|         Tipton|            2556.0|
|         Nassau|              19.0|
|     Columbiana| 7.385690735785953|
|           Park| 5.611212121212121|
|CHIHUAHUA STATE|         4.5121875|
|       Caldwell| 4.116666666666667|
|          Kings|3.9843770491803276|
|         Madera|            3.7393|
|       Franklin|3.3499999999999996|
|      Jefferson|              3.07|
|        Oakland| 2.888877848101266|
|           Lake| 2.879328647058823|
|          Duval|2.7794603978494625|
|      Middlesex|2.6500000000000004|
|         Kearny|2.3753333333333333|
|          Bucks|2.3674999999999997|
|San Luis Obispo|2.3333333333333335|
|      Edgecombe|             2.325|
|         Pawnee|2.2941176470588234|
|    Westchester|          2.239375|
+---------------+------------------+
only showing top 20 rows

### P3

In [ ]:
%load ./P3/spark_df_p3.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( Year = arr[11][:4], State = arr[24], Arithmetic_mean = float(arr[16])))
    
    logRowsDF = spark.createDataFrame( logRows )
    
    logRows2DF = logRowsDF.select('State','Year','Arithmetic_mean')\
                            .groupBy('Year','State')\
                            .avg('Arithmetic_mean').withColumnRenamed('avg(Arithmetic_mean)','Avg Pollutants')\
                            .orderBy(['Year','Avg Pollutants'], ascending=[1,0])
                                                                    
    
    logRows2DF.show(200,truncate=50)
    
    sc.stop()
except Exception as e:
    print(e)
    sc.stop()

In [10]:
!!time python ./P3/spark_df_p3.py > ./P3/p3.result

['21/12/23 23:11:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '[Stage 0:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 3:==============>                                         (52 + 9) / 200]',
 '[Stage 3:=======================>                               (84 + 11) / 200]',
 '[Stage 3:===============================>                      (118 + 10) / 200]',
 '[Stage 3:=============================================>         (167 + 8) / 200]',
 '                                                                                ',
 'real\t0m16.751s',
 'user\t0m1.281s',
 'sys\t0m0.809s']

In [11]:
!cat ./P3/p3.result

+----+--------------------+---------------------+
|Year|               State|       Avg Pollutants|
+----+--------------------+---------------------+
|1990|           Tennessee|   170.40093066666665|
|1990|             Indiana|    4.098978378378379|
|1990|       Massachusetts|   3.0246823529411766|
|1990|             Montana|   2.0686790073529413|
|1990|               Texas|   1.4824716546762589|
|1990|            New York|    1.362972027972028|
|1990|             Florida|   1.2765626315789476|
|1990|              Kansas|   1.1408154574132492|
|1990|           Louisiana|   0.9145945945945947|
|1990|            Virginia|   0.8451416666666666|
|1990|District Of Columbia|   0.8261508196721312|
|1990|      South Carolina|   0.5598140350877193|
|1990|          California|  0.41153099836333895|
|1990|           Minnesota|             0.306488|
|1990|          New Jersey|   0.2933352941176471|
|1990|            Illinois|  0.14575701219512197|
|1990|                Ohio|             0.135716|
|1990|        Pennsylvania|            0.1059625|
|1990|                Iowa|               0.0332|
|1990|             Alabama|             0.024325|
|1990|      North Carolina|               0.0143|
|1990|         Puerto Rico|              0.01005|
|1990|             Georgia| 0.008366666666666666|
|1990|         Connecticut|               0.0081|
|1990|            Michigan| 0.006559896373056996|
|1990|            Missouri|               0.0056|
|1990|         Mississippi|0.0026666666666666666|
|1990|            Colorado|0.0021623741007194244|
|1990|               Maine| 9.789285714285713E-4|
|1990|             Arizona| 8.620134228187919E-4|
|1990|              Oregon| 8.596296296296297E-4|
|1990|          New Mexico| 8.222222222222222E-4|
|1990|                Utah| 7.970588235294118E-4|
|1990|             Wyoming| 6.045454545454545E-4|
|1990|          Washington| 5.974999999999999E-4|
|1990|        South Dakota|             5.705E-4|
|1990|              Alaska|4.4208333333333334E-4|
|1990|              Nevada|4.2080000000000004E-4|
|1990|              Hawaii|1.9703703703703704E-4|
|1990|           Wisconsin|                  0.0|
|1990|            Oklahoma|                  0.0|
|1990|       West Virginia|                  0.0|
|1990|      Virgin Islands|                  0.0|
|1991|             Indiana|   1.6614237288135594|
|1991|           Louisiana|   1.2000000000000002|
|1991|          New Jersey|   1.0485551612903226|
|1991|              Kansas|   0.9181956521739129|
|1991|            New York|   0.8852830188679243|
|1991|      South Carolina|   0.7982056737588653|
|1991|             Montana|   0.7670011501597445|
|1991|District Of Columbia|   0.6772853968253968|
|1991|          California|   0.6735362628865981|
|1991|            Maryland|  0.31901639344262295|
|1991|            Michigan|   0.3136863049853373|
|1991|               Texas|    0.280053185840708|
|1991|           Tennessee|   0.2561980769230769|
|1991|            Virginia|          0.236509875|
|1991|        Pennsylvania|  0.21666666666666667|
|1991|             Florida|  0.19555000000000003|
|1991|           Minnesota|  0.15858126373626374|
|1991|           Wisconsin|              0.11625|
|1991|            Illinois| 0.045304637681159415|
|1991|            Colorado|  0.00240126213592233|
|1991|             Vermont| 0.001559090909090909|
|1991|               Maine|0.0013065217391304347|
|1991|      Virgin Islands| 9.576470588235293E-4|
|1991|             Arizona| 8.828402366863905E-4|
|1991|            Kentucky| 8.585714285714285E-4|
|1991|             Georgia|            8.3875E-4|
|1991|          Washington|            7.1375E-4|
|1991|              Hawaii|  6.80754716981132E-4|
|1991|       West Virginia| 5.466666666666667E-4|
|1991|              Nevada|4.8263157894736837E-4|
|1991|              Oregon| 4.138095238095238E-4|
|1991|          New Mexico|3.9866666666666664E-4|
|1991|                Utah|3.3780487804878053E-4|
|1991|             Wyoming|             3.258E-4|
|1991|        South Dakota| 2.883333333333333E-4|
|1991|              Alaska|1.7600000000000002E-4|
|1991|                Ohio|                  0.0|
|1991|            Arkansas|                  0.0|
|1992|            Illinois|    3.911825163398692|
|1992|             Indiana|   2.6606363636363635|
|1992|       Massachusetts|   2.1174999999999997|
|1992|         Connecticut|               1.5926|
|1992|               Texas|   1.3476657142857142|
|1992|             Montana|   0.8909444329896907|
|1992|              Kansas|   0.8702934232715009|
|1992|           Wisconsin|   0.8223666666666666|
|1992|            New York|   0.8076014814814815|
|1992|          California|   0.7356345798816569|
|1992|            Michigan|   0.5887766109785203|
|1992|District Of Columbia|  0.41693447368421055|
|1992|           Minnesota|   0.3721225333333333|
|1992|            Maryland|   0.3572955974842767|
|1992|          New Jersey|   0.3177194545454545|
|1992|             Florida|              0.27671|
|1992|             Alabama|  0.22074424242424245|
|1992|           Louisiana|                 0.16|
|1992|           Tennessee| 0.009468055555555556|
|1992|            Colorado|  0.00671141935483871|
|1992|      South Carolina|0.0027575757575757577|
|1992|      Virgin Islands| 0.001658333333333333|
|1992|            Kentucky| 0.001314090909090909|
|1992|              Oregon| 9.852380952380952E-4|
|1992|       West Virginia| 8.235135135135136E-4|
|1992|             Georgia| 8.029166666666666E-4|
|1992|               Maine|  6.71111111111111E-4|
|1992|            Virginia| 5.474074074074074E-4|
|1992|             Arizona| 5.238461538461539E-4|
|1992|        South Dakota| 4.973913043478262E-4|
|1992|             Vermont| 4.969565217391304E-4|
|1992|            Arkansas| 4.702272727272727E-4|
|1992|             Wyoming| 4.655813953488372E-4|
|1992|              Nevada| 3.333333333333333E-4|
|1992|          New Mexico|3.1535714285714283E-4|
|1992|                Utah|2.8365384615384613E-4|
|1992|          Washington|             2.696E-4|
|1992|               Idaho| 2.343478260869565E-4|
|1992|              Hawaii|1.8947368421052632E-4|
|1992|              Alaska| 1.026923076923077E-4|
|1992|                Ohio|                  0.0|
|1993|       Massachusetts|    4.305833285714285|
|1993|         Connecticut|   3.0975461538461535|
|1993|             Indiana|   2.8972258064516128|
|1993|            Delaware|             2.723077|
|1993|        Pennsylvania|   2.5750862068965517|
|1993|   Country Of Mexico|                 2.38|
|1993|           Louisiana|   2.1176116250000003|
|1993|             Alabama|   1.3672750000000002|
|1993|          New Jersey|          0.869104375|
|1993|            New York|   0.8594253164556963|
|1993|               Texas|   0.8399963883495148|
|1993|            Maryland|    0.815136698630137|
|1993|District Of Columbia|   0.6556622222222221|
|1993|                Ohio|   0.6267321428571428|
|1993|          California|   0.6142810358974361|
|1993|              Kansas|   0.5591933333333334|
|1993|            Michigan|   0.4977501285347044|
|1993|            Illinois|   0.2588674121405751|
|1993|           Wisconsin|              0.24084|
|1993|             Vermont|  0.13674265306122446|
|1993|             Georgia|  0.12912760714285715|
|1993|           Minnesota|  0.10624294117647057|
|1993|               Maine|  0.07480310344827587|
|1993|           Tennessee|   0.0737856896551724|
|1993|      South Carolina| 0.005991228070175439|
|1993|            Colorado|            0.0055075|
|1993|      Virgin Islands|0.0010107407407407407|
|1993|             Montana| 9.522857142857144E-4|
|1993|       West Virginia|          9.090625E-4|
|1993|             Arizona|              8.74E-4|
|1993|          Washington|  7.83859649122807E-4|
|1993|            Virginia| 7.591666666666667E-4|
|1993|            Kentucky| 7.058064516129032E-4|
|1993|             Florida| 6.423684210526316E-4|
|1993|            Arkansas|4.2833333333333335E-4|
|1993|               Idaho| 4.044186046511628E-4|
|1993|          New Mexico|3.9781250000000005E-4|
|1993|                Utah|3.5382978723404255E-4|
|1993|              Nevada|3.0183673469387756E-4|
|1993|        South Dakota| 2.488888888888889E-4|
|1993|              Oregon|2.3999999999999998E-4|
|1993|             Wyoming| 2.142105263157895E-4|
|1993|              Alaska|1.5647058823529413E-4|
|1993|              Hawaii|          1.409375E-4|
|1994|       Massachusetts|   3.4609906122448977|
|1994|        Rhode Island|   3.3635714000000005|
|1994|           Wisconsin|   2.9504833333333336|
|1994|            Delaware|             2.082609|
|1994|        Pennsylvania|   1.8054421904761901|
|1994|             Alabama|   1.7862802040816326|
|1994|          New Jersey|    1.007733870967742|
|1994|               Texas|   0.9557173289085547|
|1994|            Maryland|   0.9504381768292685|
|1994|            New York|   0.9327445387931034|
|1994|             Vermont|   0.9107219230769231|
|1994|         Connecticut|   0.9070260000000001|
|1994|           Louisiana|   0.9058858267716535|
|1994|             Indiana|   0.8797972972972972|
|1994|              Kansas|    0.829511201629328|
|1994|                Ohio|   0.7074822222222221|
|1994|          California|   0.6082877907869484|
|1994|            Michigan|   0.5735232835820897|
|1994|           Minnesota|    0.555922987012987|
|1994|District Of Columbia|   0.5384301590909091|
|1994|            Illinois|   0.2914373401534527|
|1994|             Georgia|   0.2874106666666666|
|1994|               Maine|          0.188303025|
|1994|      South Carolina|  0.08517265565438376|
|1994|            Virginia|  0.07424926829268293|
|1994|           Tennessee|            0.0174475|
|1994|             Montana|0.0019819565217391306|
|1994|             Arizona|0.0014466666666666666|
|1994|      Virgin Islands|           0.00122375|
|1994|            Kentucky| 0.001182941176470588|
|1994|       West Virginia|0.0010313793103448278|
|1994|             Florida| 8.884210526315789E-4|
|1994|          New Mexico| 7.054054054054053E-4|
|1994|      North Carolina|               6.6E-4|
+----+--------------------+---------------------+
only showing top 200 rows

### P4

In [ ]:
%load ./P4/spark_df_p4.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv')

    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[0], name = arr[1], minLat = float(arr[2]), \
                                            maxLat = float(arr[3]), minLon = float(arr[4]), \
                                            maxLon = float(arr[5])))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( name = arr[24], county = arr[1], siteNum = arr[2], Lat = float("{:.3f}".format(float(arr[5]))), Lon = float("{:.3f}".format(float(arr[6]))) ) )    
    
    # Dataframe creation
    logRowsStatesDF = spark.createDataFrame( logRows_states )
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF = logRowsDF.distinct() # Makes sure we are using different monitors

    # Necessary computations to solve the problem
    finalDF = logRowsStatesDF.withColumn('center_Lat', (col('minLat')+col('maxLat'))/2 ) \
                        .withColumn('center_Lon', (col('minLon')+col('maxLon'))/2 ) \
                        .drop('minLon') \
                        .drop('maxLon') \
                        .drop('minLat') \
                        .drop('maxLat') \
                        .drop('state') \
                        .drop('county') \
                        .drop('siteNum') \
                        .join(logRowsDF, 'name') \
                        .withColumn('distance', sqrt( pow((col('Lat')-col('center_Lat'))*111,2) + pow((col('Lon')-col('center_Lon'))*111,2) ) ) \
                        .groupBy('name').avg('distance')
    
    finalDF.show(54)

    sc.stop()
    
except Exception as err:
    print(err)
    sc.stop()

In [13]:
!!time python ./P4/spark_df_p4.py > ./P4/p4.result

['21/12/23 23:11:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:>                                                          (0 + 4) / 4]',
 '[Stage 1:=============================>                             (2 + 2) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 4) / 4][Stage 6:>                  (0 + 2) / 2]',
 '[Stage 4:>                  (0 + 4) / 4][Stage 6:=========>         (1 + 1) / 2]',
 '[Stage 4:>                                                          (0 + 4) / 4]',
 '[Stage 4:==============>                                            (1 + 3) / 4]',
 '[Stage 5:================>                                       (60 + 8) / 200]',
 '[Stage 5:======================>                                (81 + 12) / 200]',
 '[Stage 5:=============================>                         (107 + 8) / 200]',
 '[Stage 5:====================================>                  (132 + 8) / 200]',
 '[Stage 5:============================================>          (163 + 8) / 200]',
 '[Stage 5:====================================================>  (192 + 8) / 200]',
 '                                                                                ',
 'real\t0m21.783s',
 'user\t0m1.481s',
 'sys\t0m0.923s']

In [14]:
!cat ./P4/p4.result

+--------------+------------------+
|          name|     avg(distance)|
+--------------+------------------+
|          Utah|184.91876919510068|
|        Hawaii|155.72848584906362|
|     Minnesota|195.06726533715846|
|          Ohio|175.74265339396337|
|      Arkansas|157.84229127028243|
|        Oregon| 268.8565041755878|
|         Texas| 512.0338063321818|
|  North Dakota| 248.4324915397246|
|  Pennsylvania|251.41090880145097|
|   Connecticut| 49.99224954412998|
|      Nebraska|307.13572198974265|
|       Vermont| 521.9872635614968|
|        Nevada| 326.2811669321348|
|   Puerto Rico| 32.73340559951166|
|    Washington| 219.9837579015187|
|      Illinois|435.24508277080713|
|      Oklahoma|236.88430984912995|
|Virgin Islands| 73.48448478701415|
|      Delaware|51.577754815182395|
|        Alaska| 603.7055510312542|
|    New Mexico|183.17300873742957|
| West Virginia| 144.4948207089262|
|      Missouri| 230.0545549271448|
|  Rhode Island|22.194351406681417|
|       Georgia|185.57120999020043|
|       Montana| 284.9444358122064|
|      Michigan| 329.4440408970379|
|      Virginia|1167.8266779336668|
|North Carolina|179.09364428919878|
|       Wyoming|283.65083457659074|
|        Kansas| 292.0781329241548|
|    New Jersey| 80.74117031360068|
|      Maryland|  89.2999009259314|
|       Alabama|164.61144485299064|
|       Arizona|178.89012459120053|
|          Iowa| 206.5833608417488|
| Massachusetts| 92.34794730969004|
|      Kentucky|223.76963593367316|
|     Louisiana|178.22826309633484|
|   Mississippi|174.23332103586176|
| New Hampshire|116.80752882032644|
|     Tennessee|243.85649176309732|
|       Florida|336.54870825716444|
|       Indiana| 177.7417956680167|
|         Idaho| 289.6288745980761|
|South Carolina|131.48946099874948|
|  South Dakota| 365.8476206180489|
|    California| 329.6869380718333|
|      New York| 283.5204283804173|
|     Wisconsin|203.00348167333075|
|      Colorado|180.25508838992187|
|         Maine|167.76358421309246|
+--------------+------------------+

### P5

In [ ]:
%load ./P5/spark_df_p5.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    
    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[0], name = arr[1], centerLat = (float(arr[2]) + float(arr[3]))/2, \
                                            centerLon = (float(arr[4]) + float(arr[5]))/2))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( name = arr[24], countyCode = arr[1], siteNum = arr[2], lat = float("{:.3f}".format(float(arr[5]))), lon = float("{:.3f}".format(float(arr[6]))) ) )  
    
    # Creates the dataframes
    logRowsDF = spark.createDataFrame( logRows )
    
    logRows_statesDF = spark.createDataFrame( logRows_states )
    
    
    logRowsDF = logRowsDF.select('name','countyCode','siteNum','lat','lon').distinct()
    
    logRowsDF = logRowsDF.select('name','lat','lon')
    
    
    joinedDF = logRowsDF.join(logRows_statesDF,logRowsDF.name == logRows_statesDF.name,"inner" )
    
    MonitorDF = joinedDF.select((logRowsDF.name).alias('name'),\
                                (logRowsDF.lat).alias('lat'),\
                                (logRowsDF.lon).alias('lon'),\
                                (logRows_statesDF.centerLat).alias('centerLat'),\
                                (logRows_statesDF.centerLon).alias('centerLon')\
                               )
    
    
    MonitorDF = MonitorDF.withColumn("quadrant", when((col("lat") < col("centerLat")) & (col("lon") < col("centerLon")),'NW')\
                                                 .when((col("lat") < col("centerLat")) & (col("lon") > col("centerLon")),'NE')\
                                                 .when((col("lat") > col("centerLat")) & (col("lon") < col("centerLon")),'SW')\
                                                 .when((col("lat") > col("centerLat")) & (col("lon") > col("centerLon")),'SE')
                                                 .otherwise('Center or Borders')
                                    )                              
    
    FinalMonitorDF = MonitorDF.groupBy('name','quadrant').agg(count('quadrant').alias('Nr of Monitors')).sort('name', ascending = True)
    
    FinalMonitorDF.show(400)
    

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [16]:
!!time python ./P5/spark_df_p5.py > ./P5/p5.result

['21/12/23 23:12:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 2) / 2][Stage 5:>                  (0 + 4) / 4]',
 '[Stage 5:>                                                          (0 + 4) / 4]',
 '[Stage 5:==============>                                            (1 + 3) / 4]',
 '[Stage 6:==============>                                         (52 + 8) / 200]',
 '[Stage 6:======================>                                 (79 + 8) / 200]',
 '[Stage 6:=============================>                         (107 + 9) / 200]',
 '[Stage 6:====================================>                  (132 + 8) / 200]',
 '[Stage 6:============================================>          (162 + 8) / 200]',
 '[Stage 6:=====================================================> (193 + 7) / 200]',
 '[Stage 7:================>                                      (60 + 10) / 200]',
 '[Stage 7:============================>                          (104 + 8) / 200]',
 '[Stage 7:=======================================>               (144 + 8) / 200]',
 '[Stage 7:================================================>      (178 + 9) / 200]',
 '                                                                                ',
 'real\t0m19.339s',
 'user\t0m1.204s',
 'sys\t0m1.030s']

In [17]:
!cat ./P5/p5.result

+--------------+--------+--------------+
|          name|quadrant|Nr of Monitors|
+--------------+--------+--------------+
|       Alabama|      NE|             4|
|       Alabama|      SW|            14|
|       Alabama|      NW|             7|
|       Alabama|      SE|             4|
|        Alaska|      NE|             2|
|        Alaska|      NW|             3|
|        Alaska|      SW|             3|
|        Alaska|      SE|             4|
|       Arizona|      NE|            16|
|       Arizona|      SE|             2|
|       Arizona|      NW|            10|
|       Arizona|      SW|            10|
|      Arkansas|      SW|             3|
|      Arkansas|      SE|             2|
|      Arkansas|      NW|             5|
|      Arkansas|      NE|             1|
|    California|      NE|            68|
|    California|      NW|            15|
|    California|      SW|            84|
|    California|      SE|             2|
|      Colorado|      SE|            24|
|      Colorado|      SW|            18|
|      Colorado|      NE|             4|
|      Colorado|      NW|             5|
|   Connecticut|      NW|             8|
|   Connecticut|      SE|             5|
|   Connecticut|      SW|             2|
|      Delaware|      NW|             2|
|      Delaware|      SW|             4|
|       Florida|      SE|            27|
|       Florida|      NE|            23|
|       Florida|      SW|             5|
|       Georgia|      SW|            20|
|       Georgia|      SE|             4|
|       Georgia|      NW|             5|
|       Georgia|      NE|             5|
|        Hawaii|      SE|             2|
|        Hawaii|      SW|             2|
|        Hawaii|      NE|             1|
|         Idaho|      NW|             7|
|         Idaho|      SW|             7|
|         Idaho|      NE|             3|
|      Illinois|      SE|            32|
|      Illinois|      SW|             2|
|      Illinois|      NW|            15|
|      Illinois|      NE|             1|
|       Indiana|      NE|             8|
|       Indiana|      SW|            18|
|       Indiana|      SE|            18|
|       Indiana|      NW|             8|
|          Iowa|      NE|             8|
|          Iowa|      NW|             4|
|          Iowa|      SE|             6|
|        Kansas|      SW|             2|
|        Kansas|      SE|            18|
|        Kansas|      NE|             9|
|        Kansas|      NW|             8|
|      Kentucky|      NW|            14|
|      Kentucky|      SE|            12|
|      Kentucky|      SW|             3|
|      Kentucky|      NE|             2|
|     Louisiana|      NE|            34|
|     Louisiana|      NW|             1|
|     Louisiana|      SW|             5|
|         Maine|      SE|             2|
|         Maine|      SW|             1|
|         Maine|      NE|             6|
|         Maine|      NW|            12|
|      Maryland|      SE|            16|
|      Maryland|      SW|             1|
| Massachusetts|      SE|            11|
| Massachusetts|      NE|             4|
| Massachusetts|      SW|             4|
|      Michigan|      NE|            69|
|      Michigan|      SE|            11|
|      Michigan|      SW|             3|
|      Michigan|      NW|             1|
|     Minnesota|      NW|            21|
|     Minnesota|      SE|            11|
|     Minnesota|      NE|            50|
|     Minnesota|      SW|            12|
|   Mississippi|      SE|             4|
|   Mississippi|      NE|            12|
|   Mississippi|      NW|             5|
|      Missouri|      NE|             2|
|      Missouri|      SW|             3|
|      Missouri|      NW|             2|
|      Missouri|      SE|             9|
|       Montana|      NW|            36|
|       Montana|      SE|            11|
|       Montana|      SW|            10|
|       Montana|      NE|             4|
|      Nebraska|      NE|             3|
|      Nebraska|      SE|             1|
|      Nebraska|      SW|             2|
|        Nevada|      SW|             2|
|        Nevada|      NE|             5|
|        Nevada|      SE|             2|
| New Hampshire|      NW|             4|
| New Hampshire|      NE|             9|
| New Hampshire|      SE|             1|
|    New Jersey|      NE|             1|
|    New Jersey|      NW|             4|
|    New Jersey|      SE|            18|
|    New Jersey|      SW|             1|
|    New Mexico|      NE|             2|
|    New Mexico|      NW|             3|
|    New Mexico|      SE|             1|
|    New Mexico|      SW|            12|
|      New York|      NE|            42|
|      New York|      SW|            16|
|      New York|      SE|             5|
|      New York|      NW|             3|
|North Carolina|      NE|             5|
|North Carolina|      SW|            19|
|North Carolina|      SE|            26|
|  North Dakota|      SW|             2|
|  North Dakota|      NW|             3|
|  North Dakota|      SE|             1|
|  North Dakota|      NE|             1|
|          Ohio|      NW|            34|
|          Ohio|      NE|            10|
|          Ohio|      SW|            15|
|          Ohio|      SE|            30|
|      Oklahoma|      SE|            18|
|      Oklahoma|      NE|             2|
|      Oklahoma|      SW|             2|
|        Oregon|      SE|             3|
|        Oregon|      NE|             1|
|        Oregon|      NW|            13|
|        Oregon|      SW|            15|
|  Pennsylvania|      NE|            36|
|  Pennsylvania|      NW|            18|
|  Pennsylvania|      SE|             3|
|  Pennsylvania|      SW|             4|
|   Puerto Rico|      SE|             4|
|   Puerto Rico|      NW|             1|
|   Puerto Rico|      SW|             1|
|  Rhode Island|      SE|            12|
|  Rhode Island|      SW|             1|
|South Carolina|      SW|            33|
|South Carolina|      NE|            18|
|South Carolina|      NW|             3|
|South Carolina|      SE|            10|
|  South Dakota|      NE|             4|
|  South Dakota|      NW|             3|
|     Tennessee|      NW|             8|
|     Tennessee|      NE|             4|
|     Tennessee|      SE|             8|
|     Tennessee|      SW|             7|
|         Texas|      NW|             3|
|         Texas|      SE|            34|
|         Texas|      SW|            23|
|         Texas|      NE|            72|
|          Utah|      NE|             3|
|          Utah|      SW|             6|
|          Utah|      NW|             3|
|       Vermont|      SE|             1|
|       Vermont|      SW|            16|
|       Vermont|      NE|             1|
|       Vermont|      NW|             4|
|Virgin Islands|      NW|             6|
|      Virginia|      NE|             8|
|      Virginia|      SE|             8|
|      Virginia|      NW|             4|
|    Washington|      SW|            20|
|    Washington|      NW|            15|
|    Washington|      SE|             6|
|    Washington|      NE|             2|
| West Virginia|      SE|             2|
| West Virginia|      NW|             5|
| West Virginia|      SW|             3|
|     Wisconsin|      NE|            20|
|     Wisconsin|      SE|             2|
|     Wisconsin|      SW|             2|
|     Wisconsin|      NW|             1|
|       Wyoming|      SW|             3|
|       Wyoming|      SE|             2|
|       Wyoming|      NW|             2|
|       Wyoming|      NE|             2|
+--------------+--------+--------------+