# Final Project Spark SQL Notebook

### Small Data

### Make all scripts executable

In [1]:
!!chmod a+x ./*/*.py

["chmod: changing permissions of './P1/spark_sql_p1.py': Operation not permitted",
 "chmod: changing permissions of './P2/spark_sql_p2.py': Operation not permitted",
 "chmod: changing permissions of './P3/spark_sql_p3.py': Operation not permitted",
 "chmod: changing permissions of './P4/spark_sql_p4.py': Operation not permitted",
 "chmod: changing permissions of './P5/spark_sql_p5.py': Operation not permitted"]

### Remove all Results

In [2]:
!rm -rf ./*/*.result

### P1

In [ ]:
# %load ./P1/spark_sql_p1.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( state_name = arr[24], site_num = arr[2], state_code = arr[0], county_code = arr[1]))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    query = query = "SELECT state_name, COUNT(*) AS number_monitors FROM (SELECT DISTINCT * FROM log) GROUP BY state_name ORDER BY number_monitors DESC"

    final = spark.sql(query)

    final.show(30)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [4]:
!!time python ./P1/spark_sql_p1.py > ./P1/p1.result

['21/12/23 23:13:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 3:=======>                                                (27 + 9) / 200]',
 '[Stage 3:=============>                                          (47 + 8) / 200]',
 '[Stage 3:===================>                                    (70 + 8) / 200]',
 '[Stage 3:==========================>                             (93 + 8) / 200]',
 '[Stage 3:================================>                      (119 + 9) / 200]',
 '[Stage 3:=======================================>               (143 + 8) / 200]',
 '[Stage 3:===============================================>       (172 + 8) / 200]',
 '[Stage 4:==============================================>       (172 + 10) / 200]',
 '                                                                                ',
 'real\t0m16.963s',
 'user\t0m1.172s',
 'sys\t0m0.907s']

In [5]:
!cat ./P1/p1.result

+--------------+---------------+
|    state_name|number_monitors|
+--------------+---------------+
|    California|            162|
|         Texas|            132|
|     Minnesota|             94|
|          Ohio|             89|
|      Michigan|             84|
|      New York|             66|
|South Carolina|             64|
|  Pennsylvania|             60|
|       Montana|             60|
|       Indiana|             52|
|      Colorado|             51|
|       Florida|             50|
|      Illinois|             50|
|North Carolina|             49|
|    Washington|             42|
|     Louisiana|             40|
|       Arizona|             38|
|        Kansas|             37|
|       Georgia|             34|
|        Oregon|             31|
|      Kentucky|             30|
|       Alabama|             28|
|     Tennessee|             27|
|    New Jersey|             24|
|     Wisconsin|             24|
|       Vermont|             22|
|   Mississippi|             21|
|         Maine|             21|
|      Virginia|             20|
|      Oklahoma|             20|
+--------------+---------------+
only showing top 30 rows

### P2

In [ ]:
# %load ./P2/spark_sql_p2.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( State = arr[24], County = arr[25], countyCode = arr[1], Arithmetic_mean = float(arr[16])))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    stateRanksDF = spark.sql("SELECT County, \
        AVG(Arithmetic_mean) AS Pollutant_levels \
        FROM log GROUP BY State, countyCode, County \
        ORDER BY Pollutant_levels DESC")
    stateRanksDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [7]:
!!time python ./P2/spark_sql_p2.py > ./P2/p2.result

['21/12/23 23:13:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '[Stage 0:=============================>                             (2 + 2) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 2:=============================>                             (2 + 2) / 4]',
 '[Stage 3:============================>                          (102 + 8) / 200]',
 '[Stage 3:=====================================>                (138 + 14) / 200]',
 '[Stage 3:================================================>     (181 + 11) / 200]',
 '                                                                                ',
 'real\t0m16.632s',
 'user\t0m1.307s',
 'sys\t0m1.010s']

In [8]:
!cat ./P2/p2.result

+--------------------+------------------+
|              County|  Pollutant_levels|
+--------------------+------------------+
|              Tipton|            2556.0|
|              Nassau|              19.0|
|          Columbiana| 7.385690735785953|
|                Park| 5.611212121212121|
|     CHIHUAHUA STATE|         4.5121875|
|            Caldwell| 4.116666666666667|
|               Kings|3.9843770491803276|
|              Madera|            3.7393|
|            Franklin|3.3499999999999996|
|           Jefferson|              3.07|
|             Oakland| 2.888877848101266|
|                Lake| 2.879328647058823|
|               Duval|2.7794603978494625|
|           Middlesex|2.6500000000000004|
|              Kearny|2.3753333333333333|
|               Bucks|2.3674999999999997|
|     San Luis Obispo|2.3333333333333335|
|           Edgecombe|             2.325|
|              Pawnee|2.2941176470588234|
|         Westchester|          2.239375|
|            Johnston|             2.225|
|            Hartford|2.0787055896226416|
|           Granville|2.0285714285714285|
|              Asotin|             2.025|
|              Duplin|               2.0|
|             Boulder| 1.960470901234568|
|          Crittenden|1.9000000000000001|
|              Yancey|               1.9|
|         Los Angeles|1.8391350859879247|
|               Wayne|1.8262007365148463|
|           Iberville|1.8213132266666665|
|             Caswell|           1.80075|
|             Chatham|               1.8|
|                Pitt|1.7999999999999998|
|             Clinton|1.7583018867924527|
|            Imperial|1.6478600515463917|
|           Jefferson| 1.592159090909091|
|                Lake| 1.577142857142857|
|             Ozaukee|        1.55733332|
|          Stillwater|1.5384615384615385|
|           Crow Wing| 1.532046511627907|
|           Jefferson|1.5020496153846155|
|                Boyd| 1.485702254901961|
|          Gloucester|1.4814285714285715|
|           Henderson|1.4295509090909093|
|              Shelby|1.3927777777777777|
|            Kennebec|             1.375|
|          Stanislaus|1.2781941269841275|
|           Muscatine|            1.2375|
|          Deer Lodge|1.2135793388429752|
|                Mesa|1.2109524924242425|
|             Spokane|1.1469733510638298|
|    East Baton Rouge|1.1444728456659612|
|              Harris|1.1426282723128096|
|               Davis|1.1418481240188378|
|            Phillips|1.1414093959731544|
|             Tuscola|     1.13696140625|
|           Nez Perce|1.1226492795389047|
|             Bayamon|1.1200363636363637|
|              Ottawa|         1.1110375|
|                York|1.0842636320754717|
|           Pipestone|1.0807463414634146|
|           Wyandotte|1.0779660104986872|
|                Lake|1.0760213851902174|
|              Hudson|         1.0754546|
|          Williamson|1.0616129032258064|
|      St. Louis City|1.0544578440366965|
|     Yellow Medicine|1.0511541666666666|
|         San Joaquin|1.0142639721936149|
|              Miller| 1.011219512195122|
|               Ector|1.0014370984405456|
|              Marion|0.9826868292682926|
|             Sherman|0.9735323943661971|
|         St. Charles|0.9709866896551724|
|                Lake|0.9666666666666668|
|          Otter Tail|0.9641929203539823|
|                Kern|0.9552840147731252|
|             El Paso|0.9464559802761305|
|             Johnson|0.9374867924528303|
|              Mercer|0.9314939589041096|
|               Cloud|0.9306044444444446|
|             Douglas|0.9266666666666667|
|          Palm Beach|0.9141428571428573|
|              DeKalb|0.9125199496626882|
|              Itasca|0.8895128205128204|
|            Nicollet| 0.881576923076923|
|           Fairfield|0.8765945608108108|
|             Hampden|0.8682349224043717|
|              Fresno|0.8499170323179771|
|           Sherburne|0.8408257575757577|
|           Milwaukee|0.8367436675461741|
|            Garfield|0.8351016949152542|
|             Hampton|0.8288424908424908|
|           Multnomah|0.8102990317052269|
|             Jackson|        0.81023825|
|             Tolland|0.8060031923076922|
|             Cowlitz| 0.802640243902439|
|BAJA CALIFORNIA N...|0.8018910386965376|
|               Caddo|             0.798|
|             Bristol|0.7900226190476192|
+--------------------+------------------+
only showing top 100 rows

### P3

In [ ]:
# %load ./P3/spark_sql_p3.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( Year = arr[11][:4], State = arr[24], Arithmetic_mean = float(arr[16])))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    stateRanksDF = spark.sql("SELECT Year, \
        State, \
        AVG(Arithmetic_mean) AS Pollutant_levels \
        FROM log \
        GROUP BY State, Year \
        ORDER BY Year, Pollutant_levels")
    stateRanksDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [10]:
!!time python ./P3/spark_sql_p3.py > ./P3/p3.result

['21/12/23 23:14:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 2:============================================>              (3 + 1) / 4]',
 '[Stage 3:====================>                                   (74 + 8) / 200]',
 '[Stage 3:==============================>                        (111 + 9) / 200]',
 '[Stage 3:======================================>               (142 + 11) / 200]',
 '[Stage 3:==================================================>    (184 + 8) / 200]',
 '                                                                                ',
 'real\t0m17.521s',
 'user\t0m1.313s',
 'sys\t0m0.904s']

In [11]:
!cat ./P3/p3.result

+----+--------------------+--------------------+
|Year|               State|    Pollutant_levels|
+----+--------------------+--------------------+
|1990|           Wisconsin|                 0.0|
|1990|            Oklahoma|                 0.0|
|1990|      Virgin Islands|                 0.0|
|1990|       West Virginia|                 0.0|
|1990|              Hawaii|1.970370370370370...|
|1990|              Nevada|4.208000000000000...|
|1990|              Alaska|4.420833333333333...|
|1990|        South Dakota|            5.705E-4|
|1990|          Washington|5.974999999999999E-4|
|1990|             Wyoming|6.045454545454545E-4|
|1990|                Utah|7.970588235294118E-4|
|1990|          New Mexico|8.222222222222222E-4|
|1990|              Oregon|8.596296296296297E-4|
|1990|             Arizona|8.620134228187919E-4|
|1990|               Maine|9.789285714285713E-4|
|1990|            Colorado|0.002162374100719...|
|1990|         Mississippi|0.002666666666666...|
|1990|            Missouri|              0.0056|
|1990|            Michigan|0.006559896373056996|
|1990|         Connecticut|              0.0081|
|1990|             Georgia|0.008366666666666666|
|1990|         Puerto Rico|             0.01005|
|1990|      North Carolina|              0.0143|
|1990|             Alabama|            0.024325|
|1990|                Iowa|              0.0332|
|1990|        Pennsylvania|           0.1059625|
|1990|                Ohio|            0.135716|
|1990|            Illinois| 0.14575701219512197|
|1990|          New Jersey|  0.2933352941176471|
|1990|           Minnesota|            0.306488|
|1990|          California| 0.41153099836333895|
|1990|      South Carolina|  0.5598140350877193|
|1990|District Of Columbia|  0.8261508196721312|
|1990|            Virginia|  0.8451416666666666|
|1990|           Louisiana|  0.9145945945945947|
|1990|              Kansas|  1.1408154574132492|
|1990|             Florida|  1.2765626315789476|
|1990|            New York|   1.362972027972028|
|1990|               Texas|  1.4824716546762589|
|1990|             Montana|  2.0686790073529413|
|1990|       Massachusetts|  3.0246823529411766|
|1990|             Indiana|   4.098978378378379|
|1990|           Tennessee|  170.40093066666665|
|1991|                Ohio|                 0.0|
|1991|            Arkansas|                 0.0|
|1991|              Alaska|1.760000000000000...|
|1991|        South Dakota|2.883333333333333E-4|
|1991|             Wyoming|            3.258E-4|
|1991|                Utah|3.378048780487805...|
|1991|          New Mexico|3.986666666666666...|
|1991|              Oregon|4.138095238095238E-4|
|1991|              Nevada|4.826315789473683...|
|1991|       West Virginia|5.466666666666667E-4|
|1991|              Hawaii| 6.80754716981132E-4|
|1991|          Washington|           7.1375E-4|
|1991|             Georgia|           8.3875E-4|
|1991|            Kentucky|8.585714285714285E-4|
|1991|             Arizona|8.828402366863905E-4|
|1991|      Virgin Islands|9.576470588235293E-4|
|1991|               Maine|0.001306521739130...|
|1991|             Vermont|0.001559090909090909|
|1991|            Colorado| 0.00240126213592233|
|1991|            Illinois|0.045304637681159415|
|1991|           Wisconsin|             0.11625|
|1991|           Minnesota| 0.15858126373626374|
|1991|             Florida| 0.19555000000000003|
|1991|        Pennsylvania| 0.21666666666666667|
|1991|            Virginia|         0.236509875|
|1991|           Tennessee|  0.2561980769230769|
|1991|               Texas|   0.280053185840708|
|1991|            Michigan|  0.3136863049853373|
|1991|            Maryland| 0.31901639344262295|
|1991|          California|  0.6735362628865981|
|1991|District Of Columbia|  0.6772853968253968|
|1991|             Montana|  0.7670011501597445|
|1991|      South Carolina|  0.7982056737588653|
|1991|            New York|  0.8852830188679243|
|1991|              Kansas|  0.9181956521739129|
|1991|          New Jersey|  1.0485551612903226|
|1991|           Louisiana|  1.2000000000000002|
|1991|             Indiana|  1.6614237288135594|
|1992|                Ohio|                 0.0|
|1992|              Alaska|1.026923076923077E-4|
|1992|              Hawaii|1.894736842105263...|
|1992|               Idaho|2.343478260869565E-4|
|1992|          Washington|            2.696E-4|
|1992|                Utah|2.836538461538461...|
|1992|          New Mexico|3.153571428571428...|
|1992|              Nevada|3.333333333333333E-4|
|1992|             Wyoming|4.655813953488372E-4|
|1992|            Arkansas|4.702272727272727E-4|
|1992|             Vermont|4.969565217391304E-4|
|1992|        South Dakota|4.973913043478262E-4|
|1992|             Arizona|5.238461538461539E-4|
|1992|            Virginia|5.474074074074074E-4|
|1992|               Maine| 6.71111111111111E-4|
|1992|             Georgia|8.029166666666666E-4|
|1992|       West Virginia|8.235135135135136E-4|
|1992|              Oregon|9.852380952380952E-4|
|1992|            Kentucky|0.001314090909090909|
+----+--------------------+--------------------+
only showing top 100 rows

### P4

In [ ]:
# %load ./P4/spark_sql_p4.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    
    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( name = arr[1], centerLat = (float(arr[2])+float(arr[3]))/2, \
                                            centerLon = (float(arr[4])+float(arr[5]))/2))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( stateName = arr[24], siteNum = arr[2], countyCode = arr[1], lat = float("{:.3f}".format(float(arr[5]))), lon = float("{:.3f}".format(float(arr[6]))) ) )  
    
    # Creates the dataframes and views
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    logRows_statesDF = spark.createDataFrame( logRows_states )
    logRows_statesDF.createOrReplaceTempView("log_states")

    query = "SELECT stateName as State, AVG(Dist_Monitor_Center) as Avg_Dist_Monitor_Center \
    FROM ( SELECT stateName, \
        sqrt( pow( (AVG(lat-centerLat))*111, 2) + pow( (AVG(lon-centerLon))*111, 2) ) as Dist_Monitor_Center \
        FROM log JOIN log_states ON stateName = name\
        GROUP BY stateName, countyCode, siteNum )\
    GROUP BY State"

    finalDF = spark.sql(query)

    
    finalDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [13]:
!!time python ./P4/spark_sql_p4.py > ./P4/p4.result

['21/12/23 23:14:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:>                                                          (0 + 4) / 4]',
 '[Stage 1:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 4) / 4][Stage 5:>                  (0 + 2) / 2]',
 '[Stage 4:>                                                          (0 + 4) / 4]',
 '[Stage 4:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 15:=======================>                               (42 + 8) / 100]',
 '[Stage 15:================================>                      (59 + 9) / 100]',
 '[Stage 15:===========================================>           (79 + 8) / 100]',
 '[Stage 15:==================================================>    (91 + 9) / 100]',
 '[Stage 15:===================================================>   (93 + 7) / 100]',
 '                                                                                ',
 '',
 '[Stage 18:=========================================>              (56 + 8) / 75]',
 '[Stage 18:======================================================> (73 + 2) / 75]',
 '                                                                                ',
 'real\t0m22.304s',
 'user\t0m1.329s',
 'sys\t0m0.908s']

In [14]:
!cat ./P4/p4.result

+--------------+-----------------------+
|         State|Avg_Dist_Monitor_Center|
+--------------+-----------------------+
|          Utah|     184.91876919510136|
|        Hawaii|     155.72848584906387|
|     Minnesota|     195.06726533715846|
|          Ohio|     175.74265339396345|
|      Arkansas|     151.13713852810923|
|        Oregon|      270.4530697644639|
|         Texas|      512.0338063321824|
|  North Dakota|     248.43249153972548|
|  Pennsylvania|     250.65578227993026|
|   Connecticut|      49.99224954412992|
|      Nebraska|     307.13572198974225|
|       Vermont|      521.9872635614976|
|        Nevada|     325.85331502151854|
|   Puerto Rico|     32.733405599511656|
|    Washington|     223.06324162734512|
|      Illinois|     435.24508277080764|
|      Oklahoma|     236.71168497753382|
|Virgin Islands|      78.42453456606204|
|      Delaware|      51.57775481518227|
|        Alaska|      603.7055510312542|
|    New Mexico|     183.10481660851678|
| West Virginia|      144.4948207089263|
|      Missouri|     228.70294685662293|
|  Rhode Island|     21.559466890271334|
|       Georgia|     185.57120999020063|
|       Montana|     282.35183933196845|
|      Michigan|      329.4440408970378|
|      Virginia|     1167.8266779336666|
|North Carolina|      180.4816046933582|
|       Wyoming|      283.6508345765912|
|        Kansas|     292.07813292415466|
|    New Jersey|      80.74117031360078|
|      Maryland|      89.29990092593128|
|       Alabama|      168.6858167460084|
|       Arizona|     178.89012459120076|
|          Iowa|      206.5833608417489|
| Massachusetts|      92.34794730969065|
|      Kentucky|      219.3113968562989|
|     Louisiana|     178.22826309633496|
|   Mississippi|     174.23332103586188|
| New Hampshire|      116.0111854134792|
|     Tennessee|      243.8564917630969|
|       Florida|     333.77014998726025|
|       Indiana|     177.74179566801655|
|         Idaho|       289.628874598076|
|South Carolina|     131.48946099874937|
|  South Dakota|      365.8476206180499|
|    California|      328.1742590897139|
|      New York|      283.5204283804173|
|     Wisconsin|     206.85563757355047|
|      Colorado|      180.2550883899222|
|         Maine|     167.76358421309274|
+--------------+-----------------------+

### P5

In [ ]:
# %load ./P5/spark_sql_p5.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    
    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[0], name = arr[1], centerLat = (float(arr[2]) + float(arr[3]))/2, \
                                            centerLon = (float(arr[4]) + float(arr[5]))/2))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( name = arr[24], countyCode = arr[1], stateNUM = arr[2], lat = float("{:.3f}".format(float(arr[5]))), lon = float("{:.3f}".format(float(arr[6]))) ) )  
    
    # Creates the dataframes and views
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    logRows_statesDF = spark.createDataFrame( logRows_states )
    logRows_statesDF.createOrReplaceTempView("log_states")
    
    # Atribui a cada monitor único o seu quadrante
    MonitorDF = spark.sql("SELECT log.name, log.countyCode, log.stateNum, \
     CASE \
         WHEN log.lat < log_states.centerLat AND log.lon > log_states.centerLon THEN 'NE' \
         WHEN log.lat > log_states.centerLat AND log.lon > log_states.centerLon THEN 'SE' \
         WHEN log.lat > log_states.centerLat AND log.lon < log_states.centerLon THEN 'SW' \
         WHEN log.lat < log_states.centerLat AND log.lon < log_states.centerLon THEN 'NW' \
         ELSE 'Center or Borders' \
     END AS Quadrant \
     FROM log JOIN log_states ON log.name=log_states.name GROUP BY log.name, log.countyCode, log.stateNum, Quadrant")
    MonitorDF.createOrReplaceTempView("Monitor")

    # Conta o Nr. de monitores em cada quadrante por estado
    finalDF = spark.sql("SELECT name AS State, Quadrant, count(*) AS Num_Monitors  FROM Monitor GROUP BY name, Quadrant")
    
    finalDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [16]:
!!time python ./P5/spark_sql_p5.py > ./P5/p5.result

['21/12/23 23:15:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:>                                                          (0 + 4) / 4]',
 '[Stage 1:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 2) / 2][Stage 5:>                  (0 + 4) / 4]',
 '[Stage 5:>                                                          (0 + 4) / 4]',
 '[Stage 5:==============>                                            (1 + 3) / 4]',
 '[Stage 5:=============================>                             (2 + 2) / 4]',
 '                                                                                ',
 '',
 '[Stage 15:=================================>                     (60 + 8) / 100]',
 '[Stage 15:===========================================>           (79 + 8) / 100]',
 '[Stage 15:=================================================>     (90 + 8) / 100]',
 '                                                                                ',
 'real\t0m22.528s',
 'user\t0m1.586s',
 'sys\t0m0.928s']

In [17]:
!cat ./P5/p5.result

+--------------+--------+------------+
|         State|Quadrant|Num_Monitors|
+--------------+--------+------------+
|          Utah|      SW|           6|
|          Utah|      NE|           3|
|          Utah|      NW|           3|
|        Hawaii|      SW|           2|
|        Hawaii|      SE|           2|
|        Hawaii|      NE|           1|
|     Minnesota|      NW|          21|
|     Minnesota|      SE|          11|
|     Minnesota|      NE|          50|
|     Minnesota|      SW|          12|
|          Ohio|      SE|          30|
|          Ohio|      NE|          10|
|          Ohio|      SW|          15|
|          Ohio|      NW|          34|
|      Arkansas|      SW|           3|
|      Arkansas|      NW|           4|
|      Arkansas|      SE|           2|
|      Arkansas|      NE|           1|
|        Oregon|      NW|          12|
|        Oregon|      SE|           3|
|        Oregon|      SW|          15|
|        Oregon|      NE|           1|
|         Texas|      NE|          72|
|         Texas|      SW|          23|
|         Texas|      NW|           3|
|         Texas|      SE|          34|
|  North Dakota|      NE|           1|
|  North Dakota|      NW|           3|
|  North Dakota|      SE|           1|
|  North Dakota|      SW|           2|
|  Pennsylvania|      NE|          35|
|  Pennsylvania|      NW|          18|
|  Pennsylvania|      SW|           4|
|  Pennsylvania|      SE|           3|
|   Connecticut|      NW|           8|
|   Connecticut|      SW|           2|
|   Connecticut|      SE|           5|
|      Nebraska|      NE|           3|
|      Nebraska|      SW|           2|
|      Nebraska|      SE|           1|
|       Vermont|      SW|          16|
|       Vermont|      NW|           4|
|       Vermont|      NE|           1|
|       Vermont|      SE|           1|
|        Nevada|      SE|           2|
|        Nevada|      SW|           2|
|        Nevada|      NE|           4|
|   Puerto Rico|      SE|           4|
|   Puerto Rico|      SW|           1|
|   Puerto Rico|      NW|           1|
|    Washington|      SW|          20|
|    Washington|      SE|           6|
|    Washington|      NW|          14|
|    Washington|      NE|           2|
|      Illinois|      SE|          32|
|      Illinois|      NW|          15|
|      Illinois|      SW|           2|
|      Illinois|      NE|           1|
|      Oklahoma|      SE|          17|
|      Oklahoma|      NE|           2|
|      Oklahoma|      SW|           1|
|Virgin Islands|      NW|           4|
|      Delaware|      NW|           2|
|      Delaware|      SW|           4|
|        Alaska|      SE|           4|
|        Alaska|      NW|           3|
|        Alaska|      SW|           3|
|        Alaska|      NE|           2|
|    New Mexico|      SW|          11|
|    New Mexico|      SE|           1|
|    New Mexico|      NE|           2|
|    New Mexico|      NW|           3|
| West Virginia|      NW|           5|
| West Virginia|      SE|           2|
| West Virginia|      SW|           3|
|      Missouri|      SE|           8|
|      Missouri|      NW|           2|
|      Missouri|      SW|           3|
|      Missouri|      NE|           2|
|  Rhode Island|      SE|          11|
|  Rhode Island|      SW|           1|
|       Georgia|      SW|          20|
|       Georgia|      NE|           5|
|       Georgia|      NW|           5|
|       Georgia|      SE|           4|
|       Montana|      SW|           9|
|       Montana|      NW|          36|
|       Montana|      SE|          11|
|       Montana|      NE|           4|
|      Michigan|      NE|          69|
|      Michigan|      SE|          11|
|      Michigan|      SW|           3|
|      Michigan|      NW|           1|
|      Virginia|      NE|           8|
|      Virginia|      SE|           8|
|      Virginia|      NW|           4|
|North Carolina|      SW|          18|
|North Carolina|      SE|          26|
|North Carolina|      NE|           5|
|       Wyoming|      NW|           2|
+--------------+--------+------------+
only showing top 100 rows