# Final Project Spark SQL Notebook

### Small Data

### Make all scripts executable

In [1]:
!!chmod a+x ./*/*.py

["chmod: changing permissions of './P1/spark_sql_p1.py': Operation not permitted",
 "chmod: changing permissions of './P2/spark_sql_p2.py': Operation not permitted",
 "chmod: changing permissions of './P3/spark_sql_p3.py': Operation not permitted",
 "chmod: changing permissions of './P4/spark_sql_p4.py': Operation not permitted",
 "chmod: changing permissions of './P5/spark_sql_p5.py': Operation not permitted"]

### Remove all Results

In [2]:
!rm -rf ./*/*.result

### P1

In [ ]:
# %load ./P1/spark_sql_p1.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( state_name = arr[24], site_num = arr[2], state_code = arr[0], county_code = arr[1]))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    query = "SELECT state_name, \
        COUNT(state_name) \
        FROM (SELECT site_num, \
            CONCAT(state_code,county_code) as county, \
            state_name \
            FROM log GROUP BY county, site_num \
        ) \
        GROUP BY state_name \
        ORDER BY rank DESC"

    final = spark.sql(query)

    final.show(30)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [19]:
!!time python ./P1/spark_sql_p1.py > ./P1/p1.result

['21/12/22 17:43:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 'real\t0m14.592s',
 'user\t0m1.552s',
 'sys\t0m1.200s']

In [20]:
!cat ./P1/p1.result

"expression 'log.`state_name`' is neither present in the group by, nor is it an aggregate function. Add to group by or wrap in first() (or first_value) if you don't care which value you get.;;\n'Sort ['rank DESC NULLS LAST], true\n+- Aggregate [state_name#3], [state_name#3, count(state_name#3) AS count(state_name)#10L]\n   +- SubqueryAlias `__auto_generated_subquery_name`\n      +- Aggregate [concat(state_code#2, county_code#0), site_num#1], [site_num#1, concat(state_code#2, county_code#0) AS county#8, state_name#3]\n         +- SubqueryAlias `log`\n            +- LogicalRDD [county_code#0, site_num#1, state_code#2, state_name#3], false\n"

### P2

In [ ]:
# %load ./P2/spark_sql_p2.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( State = arr[24], County = arr[25], countyCode = arr[1], Arithmetic_mean = float(arr[16])))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    stateRanksDF = spark.sql("SELECT State, \
        countyCode AS County_Code, \
        County, \
        AVG(Arithmetic_mean) AS Pollutant_levels \
        FROM log GROUP BY State, countyCode, County \
        ORDER BY Pollutant_levels DESC")
    stateRanksDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [7]:
!!time python ./P2/spark_sql_p2.py > ./P2/p2.result

['21/12/22 17:40:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 2:============================================>              (3 + 1) / 4]',
 '[Stage 3:==========================>                             (93 + 9) / 200]',
 '[Stage 3:======================================>                (139 + 8) / 200]',
 '[Stage 3:==================================================>    (184 + 9) / 200]',
 '                                                                                ',
 'real\t0m16.081s',
 'user\t0m1.157s',
 'sys\t0m0.934s']

In [8]:
!cat ./P2/p2.result

+-----------------+-----------+--------------------+------------------+
|            State|County_Code|              County|  Pollutant_levels|
+-----------------+-----------+--------------------+------------------+
|        Tennessee|        167|              Tipton|            2556.0|
|         New York|        059|              Nassau|              19.0|
|             Ohio|        029|          Columbiana| 7.385690735785953|
|          Montana|        067|                Park| 5.611212121212121|
|Country Of Mexico|        006|     CHIHUAHUA STATE|         4.5121875|
|   North Carolina|        027|            Caldwell| 4.116666666666667|
|       California|        031|               Kings|3.9843770491803276|
|       California|        039|              Madera|            3.7393|
|   North Carolina|        069|            Franklin|3.3499999999999996|
|         Colorado|        059|           Jefferson|              3.07|
|         Michigan|        125|             Oakland| 2.888877848101266|
|         Illinois|        097|                Lake| 2.879328647058823|
|          Florida|        031|               Duval|2.7794603978494625|
|    Massachusetts|        017|           Middlesex|2.6500000000000004|
|           Kansas|        093|              Kearny|2.3753333333333333|
|     Pennsylvania|        017|               Bucks|2.3674999999999997|
|       California|        079|     San Luis Obispo|2.3333333333333335|
|   North Carolina|        065|           Edgecombe|             2.325|
|           Kansas|        145|              Pawnee|2.2941176470588234|
|         New York|        119|         Westchester|          2.239375|
|   North Carolina|        101|            Johnston|             2.225|
|      Connecticut|        003|            Hartford|2.0787055896226416|
|   North Carolina|        077|           Granville|2.0285714285714285|
|       Washington|        003|              Asotin|             2.025|
|   North Carolina|        061|              Duplin|               2.0|
|         Colorado|        013|             Boulder| 1.960470901234568|
|         Arkansas|        035|          Crittenden|1.9000000000000001|
|   North Carolina|        199|              Yancey|               1.9|
|       California|        037|         Los Angeles|1.8391350859879247|
|         Michigan|        163|               Wayne|1.8262007365148463|
|        Louisiana|        047|           Iberville|1.8213132266666665|
|   North Carolina|        033|             Caswell|           1.80075|
|   North Carolina|        037|             Chatham|               1.8|
|   North Carolina|        147|                Pitt|1.7999999999999998|
|             Iowa|        045|             Clinton|1.7583018867924527|
|       California|        025|            Imperial|1.6478600515463917|
|          Montana|        043|           Jefferson| 1.592159090909091|
|       California|        033|                Lake| 1.577142857142857|
|        Wisconsin|        089|             Ozaukee|        1.55733332|
|          Montana|        095|          Stillwater|1.5384615384615385|
|        Minnesota|        035|           Crow Wing| 1.532046511627907|
|        Louisiana|        051|           Jefferson|1.5020496153846155|
|         Kentucky|        019|                Boyd| 1.485702254901961|
|       New Jersey|        015|          Gloucester|1.4814285714285715|
|         Kentucky|        101|           Henderson|1.4295509090909093|
|          Alabama|        117|              Shelby|1.3927777777777777|
|            Maine|        011|            Kennebec|             1.375|
|       California|        099|          Stanislaus|1.2781941269841275|
|             Iowa|        139|           Muscatine|            1.2375|
|          Montana|        023|          Deer Lodge|1.2135793388429752|
|         Colorado|        077|                Mesa|1.2109524924242425|
|       Washington|        063|             Spokane|1.1469733510638298|
|        Louisiana|        033|    East Baton Rouge|1.1444728456659612|
|            Texas|        201|              Harris|1.1426282723128096|
|             Utah|        011|               Davis|1.1418481240188378|
|          Montana|        071|            Phillips|1.1414093959731544|
|         Michigan|        157|             Tuscola|     1.13696140625|
|            Idaho|        069|           Nez Perce|1.1226492795389047|
|      Puerto Rico|        021|             Bayamon|1.1200363636363637|
|         Michigan|        139|              Ottawa|         1.1110375|
|            Maine|        031|                York|1.0842636320754717|
|        Minnesota|        117|           Pipestone|1.0807463414634146|
|           Kansas|        209|           Wyandotte|1.0779660104986872|
|          Indiana|        089|                Lake|1.0760213851902174|
|       New Jersey|        017|              Hudson|         1.0754546|
|            Texas|        491|          Williamson|1.0616129032258064|
|         Missouri|        510|      St. Louis City|1.0544578440366965|
|        Minnesota|        173|     Yellow Medicine|1.0511541666666666|
|       California|        077|         San Joaquin|1.0142639721936149|
|         Arkansas|        091|              Miller| 1.011219512195122|
|            Texas|        135|               Ector|1.0014370984405456|
|           Oregon|        047|              Marion|0.9826868292682926|
|           Kansas|        181|             Sherman|0.9735323943661971|
|        Louisiana|        089|         St. Charles|0.9709866896551724|
|             Ohio|        085|                Lake|0.9666666666666668|
|        Minnesota|        111|          Otter Tail|0.9641929203539823|
|       California|        029|                Kern|0.9552840147731252|
|            Texas|        141|             El Paso|0.9464559802761305|
|           Kansas|        091|             Johnson|0.9374867924528303|
|       New Jersey|        021|              Mercer|0.9314939589041096|
|           Kansas|        029|               Cloud|0.9306044444444446|
|         Colorado|        035|             Douglas|0.9266666666666667|
|          Florida|        099|          Palm Beach|0.9141428571428573|
|          Georgia|        089|              DeKalb|0.9125199496626882|
|        Minnesota|        061|              Itasca|0.8895128205128204|
|        Minnesota|        103|            Nicollet| 0.881576923076923|
|      Connecticut|        001|           Fairfield|0.8765945608108108|
|    Massachusetts|        013|             Hampden|0.8682349224043717|
|       California|        019|              Fresno|0.8499170323179771|
|        Minnesota|        141|           Sherburne|0.8408257575757577|
|        Wisconsin|        079|           Milwaukee|0.8367436675461741|
|         Colorado|        045|            Garfield|0.8351016949152542|
|   South Carolina|        049|             Hampton|0.8288424908424908|
|           Oregon|        051|           Multnomah|0.8102990317052269|
|      Mississippi|        059|             Jackson|        0.81023825|
|      Connecticut|        013|             Tolland|0.8060031923076922|
|       Washington|        015|             Cowlitz| 0.802640243902439|
|Country Of Mexico|        002|BAJA CALIFORNIA N...|0.8018910386965376|
|        Louisiana|        017|               Caddo|             0.798|
|    Massachusetts|        005|             Bristol|0.7900226190476192|
+-----------------+-----------+--------------------+------------------+
only showing top 100 rows

### P3

In [ ]:
# %load ./P3/spark_sql_p3.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( Year = arr[11][:4], State = arr[24], Arithmetic_mean = float(arr[16])))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    stateRanksDF = spark.sql("SELECT Year, \
        State, \
        AVG(Arithmetic_mean) AS Pollutant_levels \
        FROM log \
        GROUP BY State, Year \
        ORDER BY Year, Pollutant_levels")
    stateRanksDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [10]:
!!time python ./P3/spark_sql_p3.py > ./P3/p3.result

['21/12/22 17:40:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '[Stage 0:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 2:============================================>              (3 + 1) / 4]',
 '[Stage 3:===========>                                            (40 + 8) / 200]',
 '[Stage 3:==================>                                    (66 + 10) / 200]',
 '[Stage 3:===========================>                           (99 + 10) / 200]',
 '[Stage 3:===================================>                   (129 + 9) / 200]',
 '[Stage 3:===========================================>           (159 + 9) / 200]',
 '[Stage 3:===================================================>   (186 + 8) / 200]',
 '                                                                                ',
 'real\t0m17.998s',
 'user\t0m1.207s',
 'sys\t0m0.933s']

In [11]:
!cat ./P3/p3.result

+----+--------------------+--------------------+
|Year|               State|    Pollutant_levels|
+----+--------------------+--------------------+
|1990|      Virgin Islands|                 0.0|
|1990|       West Virginia|                 0.0|
|1990|            Oklahoma|                 0.0|
|1990|           Wisconsin|                 0.0|
|1990|              Hawaii|1.970370370370370...|
|1990|              Nevada|4.208000000000000...|
|1990|              Alaska|4.420833333333333...|
|1990|        South Dakota|            5.705E-4|
|1990|          Washington|5.974999999999999E-4|
|1990|             Wyoming|6.045454545454545E-4|
|1990|                Utah|7.970588235294118E-4|
|1990|          New Mexico|8.222222222222222E-4|
|1990|              Oregon|8.596296296296297E-4|
|1990|             Arizona|8.620134228187919E-4|
|1990|               Maine|9.789285714285713E-4|
|1990|            Colorado|0.002162374100719...|
|1990|         Mississippi|0.002666666666666...|
|1990|            Missouri|              0.0056|
|1990|            Michigan|0.006559896373056996|
|1990|         Connecticut|              0.0081|
|1990|             Georgia|0.008366666666666666|
|1990|         Puerto Rico|             0.01005|
|1990|      North Carolina|              0.0143|
|1990|             Alabama|            0.024325|
|1990|                Iowa|              0.0332|
|1990|        Pennsylvania|           0.1059625|
|1990|                Ohio|            0.135716|
|1990|            Illinois| 0.14575701219512197|
|1990|          New Jersey|  0.2933352941176471|
|1990|           Minnesota|            0.306488|
|1990|          California| 0.41153099836333895|
|1990|      South Carolina|  0.5598140350877193|
|1990|District Of Columbia|  0.8261508196721312|
|1990|            Virginia|  0.8451416666666666|
|1990|           Louisiana|  0.9145945945945947|
|1990|              Kansas|  1.1408154574132492|
|1990|             Florida|  1.2765626315789476|
|1990|            New York|   1.362972027972028|
|1990|               Texas|  1.4824716546762589|
|1990|             Montana|  2.0686790073529413|
|1990|       Massachusetts|  3.0246823529411766|
|1990|             Indiana|   4.098978378378379|
|1990|           Tennessee|  170.40093066666665|
|1991|                Ohio|                 0.0|
|1991|            Arkansas|                 0.0|
|1991|              Alaska|1.760000000000000...|
|1991|        South Dakota|2.883333333333333E-4|
|1991|             Wyoming|            3.258E-4|
|1991|                Utah|3.378048780487805...|
|1991|          New Mexico|3.986666666666666...|
|1991|              Oregon|4.138095238095238E-4|
|1991|              Nevada|4.826315789473683...|
|1991|       West Virginia|5.466666666666667E-4|
|1991|              Hawaii| 6.80754716981132E-4|
|1991|          Washington|           7.1375E-4|
|1991|             Georgia|           8.3875E-4|
|1991|            Kentucky|8.585714285714285E-4|
|1991|             Arizona|8.828402366863905E-4|
|1991|      Virgin Islands|9.576470588235293E-4|
|1991|               Maine|0.001306521739130...|
|1991|             Vermont|0.001559090909090909|
|1991|            Colorado| 0.00240126213592233|
|1991|            Illinois|0.045304637681159415|
|1991|           Wisconsin|             0.11625|
|1991|           Minnesota| 0.15858126373626374|
|1991|             Florida| 0.19555000000000003|
|1991|        Pennsylvania| 0.21666666666666667|
|1991|            Virginia|         0.236509875|
|1991|           Tennessee|  0.2561980769230769|
|1991|               Texas|   0.280053185840708|
|1991|            Michigan|  0.3136863049853373|
|1991|            Maryland| 0.31901639344262295|
|1991|          California|  0.6735362628865981|
|1991|District Of Columbia|  0.6772853968253968|
|1991|             Montana|  0.7670011501597445|
|1991|      South Carolina|  0.7982056737588653|
|1991|            New York|  0.8852830188679243|
|1991|              Kansas|  0.9181956521739129|
|1991|          New Jersey|  1.0485551612903226|
|1991|           Louisiana|  1.2000000000000002|
|1991|             Indiana|  1.6614237288135594|
|1992|                Ohio|                 0.0|
|1992|              Alaska|1.026923076923077E-4|
|1992|              Hawaii|1.894736842105263...|
|1992|               Idaho|2.343478260869565E-4|
|1992|          Washington|            2.696E-4|
|1992|                Utah|2.836538461538461...|
|1992|          New Mexico|3.153571428571428...|
|1992|              Nevada|3.333333333333333E-4|
|1992|             Wyoming|4.655813953488372E-4|
|1992|            Arkansas|4.702272727272727E-4|
|1992|             Vermont|4.969565217391304E-4|
|1992|        South Dakota|4.973913043478262E-4|
|1992|             Arizona|5.238461538461539E-4|
|1992|            Virginia|5.474074074074074E-4|
|1992|               Maine| 6.71111111111111E-4|
|1992|             Georgia|8.029166666666666E-4|
|1992|       West Virginia|8.235135135135136E-4|
|1992|              Oregon|9.852380952380952E-4|
|1992|            Kentucky|0.001314090909090909|
+----+--------------------+--------------------+
only showing top 100 rows

### P4

In [ ]:
# %load ./P4/spark_sql_p4.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    
    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( stateName = arr[1], minLat = arr[2], maxLat = arr[3], \
                                            minLon = arr[4], maxLon = arr[5]))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( stateName = arr[24], siteNum = arr[2], countyCode = arr[0]+arr[1], lat = float(arr[5]), lon = float(arr[6]) ) )  
    
    # Creates the dataframes and views
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    logRows_statesDF = spark.createDataFrame( logRows_states )
    logRows_statesDF.createOrReplaceTempView("log_states")
    
    query = "SELECT log.name\
        FROM (SELECT log.name,\
            \
        )"
    
    query = "SELECT stateName as State, avg(Dist_Monitor_Center) as Avg_Dist_Monitor_Center \
            FROM (SELECT stateName,\
                countyCode,\
                siteNum,\
                sqrt( pow( (lat-((minLat+maxLat)/2))*111, 2) + pow( (lon-((minLon+maxLon)/2))*111, 2) ) as Dist_Monitor_Center\
                FROM (SELECT log.stateName,\
                    log.countyCode,\
                    log.siteNum,\
                    log.lat,\
                    log.lon,\
                    log_states.minLat,\
                    log_states.maxLat,\
                    log_states.minLon,\
                    log_states.maxLon\
                    FROM log\
                    JOIN log_states ON stateName = name\
                ) table1\
                GROUP BY stateName, countyCode, siteNum, lat, lon, minLat, maxLat, minLon, maxLon\
            ) table2\
            GROUP BY stateName\
            ORDER BY Avg_Dist_Monitor_Center DESC"

    finalDF = spark.sql(query)

    
    finalDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [ ]:
!!time python ./P4/spark_sql_p4.py > ./P4/p4.result

In [ ]:
!cat ./P4/p4.result

### P5

In [ ]:
# %load ./P5/spark_sql_p5.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    
    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[0], name = arr[1], centerLat = (float(arr[2]) + float(arr[3]))/2, \
                                            centerLon = (float(arr[4]) + float(arr[5]))/2))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( name = arr[24], countyCode = arr[1], stateNUM = arr[2], lat = float(arr[5]), lon = float(arr[6]) ) )  
    
    # Creates the dataframes and views
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")

    logRows_statesDF = spark.createDataFrame( logRows_states )
    logRows_statesDF.createOrReplaceTempView("log_states")
    
    # Atribui a cada monitor único o seu quadrante
    MonitorDF = spark.sql("SELECT log.name, log.countyCode, log.stateNum, \
     CASE \
         WHEN log.lat > log_states.centerLat AND log.lon > log_states.centerLon THEN 'NE' \
         WHEN log.lat > log_states.centerLat AND log.lon < log_states.centerLon THEN 'SE' \
         WHEN log.lat < log_states.centerLat AND log.lon < log_states.centerLon THEN 'SW' \
         WHEN log.lat < log_states.centerLat AND log.lon > log_states.centerLon THEN 'NW' \
         ELSE 'Center or Borders' \
     END AS Quadrant \
     FROM log JOIN log_states ON log.name=log_states.name GROUP BY log.name, log.countyCode, log.stateNum, Quadrant")
    MonitorDF.createOrReplaceTempView("Monitor")

    # Conta o Nr. de monitores em cada quadrante por estado
    finalDF = spark.sql("SELECT name AS State, Quadrant, count(*) AS Num_Monitors  FROM Monitor GROUP BY name, Quadrant")
    
    finalDF.show(100)

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

In [16]:
!!time python ./P5/spark_sql_p5.py > ./P5/p5.result

['21/12/22 17:41:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:>                                                          (0 + 4) / 4]',
 '[Stage 1:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 2) / 2][Stage 5:>                  (0 + 4) / 4]',
 '[Stage 4:===================(2 + 0) / 2][Stage 5:>                  (0 + 4) / 4]',
 '[Stage 5:>                                                          (0 + 4) / 4]',
 '[Stage 5:==============>                                            (1 + 3) / 4]',
 '[Stage 5:=============================>                             (2 + 2) / 4]',
 '                                                                                ',
 '',
 '[Stage 15:==============================>                        (55 + 9) / 100]',
 '[Stage 15:============================================>          (80 + 8) / 100]',
 '[Stage 15:==================================================>    (92 + 8) / 100]',
 '                                                                                ',
 'real\t0m22.162s',
 'user\t0m1.258s',
 'sys\t0m0.905s']

In [17]:
!cat ./P5/p5.result

+--------------+--------+------------+
|         State|Quadrant|Num_Monitors|
+--------------+--------+------------+
|          Utah|      SE|           6|
|          Utah|      NW|           3|
|          Utah|      SW|           3|
|        Hawaii|      SE|           2|
|        Hawaii|      NE|           2|
|        Hawaii|      NW|           1|
|     Minnesota|      SW|          21|
|     Minnesota|      NE|          11|
|     Minnesota|      NW|          50|
|     Minnesota|      SE|          12|
|          Ohio|      NE|          30|
|          Ohio|      NW|          10|
|          Ohio|      SE|          15|
|          Ohio|      SW|          34|
|      Arkansas|      SE|           3|
|      Arkansas|      SW|           4|
|      Arkansas|      NE|           2|
|      Arkansas|      NW|           1|
|        Oregon|      SW|          12|
|        Oregon|      NE|           3|
|        Oregon|      SE|          15|
|        Oregon|      NW|           1|
|         Texas|      NW|          72|
|         Texas|      SE|          23|
|         Texas|      SW|           3|
|         Texas|      NE|          34|
|  North Dakota|      NW|           1|
|  North Dakota|      SW|           3|
|  North Dakota|      NE|           1|
|  North Dakota|      SE|           2|
|  Pennsylvania|      NW|          35|
|  Pennsylvania|      SW|          18|
|  Pennsylvania|      SE|           4|
|  Pennsylvania|      NE|           3|
|   Connecticut|      SW|           8|
|   Connecticut|      SE|           2|
|   Connecticut|      NE|           5|
|      Nebraska|      NW|           3|
|      Nebraska|      SE|           2|
|      Nebraska|      NE|           1|
|       Vermont|      SE|          16|
|       Vermont|      SW|           4|
|       Vermont|      NW|           1|
|       Vermont|      NE|           1|
|        Nevada|      NE|           2|
|        Nevada|      SE|           2|
|        Nevada|      NW|           4|
|   Puerto Rico|      NE|           4|
|   Puerto Rico|      SE|           1|
|   Puerto Rico|      SW|           1|
|    Washington|      SE|          20|
|    Washington|      NE|           6|
|    Washington|      SW|          14|
|    Washington|      NW|           2|
|      Illinois|      NE|          32|
|      Illinois|      SW|          15|
|      Illinois|      SE|           2|
|      Illinois|      NW|           1|
|      Oklahoma|      NE|          17|
|      Oklahoma|      NW|           2|
|      Oklahoma|      SE|           1|
|Virgin Islands|      SW|           4|
|      Delaware|      SW|           2|
|      Delaware|      SE|           4|
|        Alaska|      NE|           4|
|        Alaska|      SW|           3|
|        Alaska|      SE|           3|
|        Alaska|      NW|           2|
|    New Mexico|      SE|          11|
|    New Mexico|      NE|           1|
|    New Mexico|      NW|           2|
|    New Mexico|      SW|           3|
| West Virginia|      SW|           5|
| West Virginia|      NE|           2|
| West Virginia|      SE|           3|
|      Missouri|      NE|           8|
|      Missouri|      SW|           2|
|      Missouri|      SE|           3|
|      Missouri|      NW|           2|
|  Rhode Island|      NE|          11|
|  Rhode Island|      SE|           1|
|       Georgia|      SE|          20|
|       Georgia|      NW|           5|
|       Georgia|      SW|           5|
|       Georgia|      NE|           4|
|       Montana|      SE|           9|
|       Montana|      SW|          36|
|       Montana|      NE|          11|
|       Montana|      NW|           4|
|      Michigan|      NW|          69|
|      Michigan|      NE|          11|
|      Michigan|      SE|           3|
|      Michigan|      SW|           1|
|      Virginia|      NW|           8|
|      Virginia|      NE|           8|
|      Virginia|      SW|           4|
|North Carolina|      SE|          18|
|North Carolina|      NE|          26|
|North Carolina|      NW|           5|
|       Wyoming|      SW|           2|
+--------------+--------+------------+
only showing top 100 rows