# Final Project Spark DataFrames Notebook

### Small Data

### Make all scripts executable

In [1]:
!!chmod a+x ./*/*.py

["chmod: changing permissions of './P1/spark_df_p1.py': Operation not permitted",
 "chmod: changing permissions of './P2/spark_df_p2.py': Operation not permitted",
 "chmod: changing permissions of './P3/spark_df_p3.py': Operation not permitted",
 "chmod: changing permissions of './P4/spark_df_p4.py': Operation not permitted",
 "chmod: changing permissions of './P5/spark_df_p5.py': Operation not permitted"]

### Remove all Results

In [2]:
!rm -rf ./*/*.result

### P1

In [3]:
# %load ./P1/spark_df_p1.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/epa_hap_daily_summary-small.csv')
    #lines = sc.textFile('log.csv')

    # file mapping
    logRows = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[24], countyCode = arr[1], site_num = arr[2]))    
    
    # Dataframe creation
    logRowsDF = spark.createDataFrame( logRows )
    #logRowsDF = spark.createDataFrame( logRows )
    #logRowsDF = logRowsDF.distinct() # Makes sure we are using different monitors
    
    logRows2DF = logRowsDF.select('state','countyCode','site_num').distinct().groupBy('state')\
                                                                         .agg(count('site_num').alias('Nr of Monitors'))\
                                                                         .sort('Nr of Monitors', ascending = False)   
    logRows2DF.show(100,truncate=50)

    sc.stop()
except Exception as e:
    print(e)
    sc.stop()

+--------------------+--------------+
|               state|Nr of Monitors|
+--------------------+--------------+
|          California|           162|
|               Texas|           132|
|           Minnesota|            94|
|                Ohio|            89|
|            Michigan|            84|
|            New York|            66|
|      South Carolina|            64|
|        Pennsylvania|            60|
|             Montana|            60|
|             Indiana|            52|
|            Colorado|            51|
|            Illinois|            50|
|             Florida|            50|
|      North Carolina|            49|
|          Washington|            42|
|           Louisiana|            40|
|             Arizona|            38|
|              Kansas|            37|
|             Georgia|            34|
|              Oregon|            31|
|            Kentucky|            30|
|             Alabama|            28|
|           Tennessee|            27|
|          New Jersey|            24|
|           Wisconsin|            24|
|             Vermont|            22|
|         Mississippi|            21|
|               Maine|            21|
|            Virginia|            20|
|            Oklahoma|            20|
|       Massachusetts|            19|
|                Iowa|            18|
|            Maryland|            17|
|          New Mexico|            17|
|               Idaho|            17|
|   Country Of Mexico|            16|
|         Connecticut|            15|
|            Missouri|            15|
|                Utah|            12|
|        Rhode Island|            12|
|              Alaska|            12|
|       New Hampshire|            12|
|       West Virginia|            10|
|            Arkansas|            10|
|             Wyoming|             9|
|              Nevada|             8|
|        North Dakota|             7|
|        South Dakota|             7|
|         Puerto Rico|             6|
|            Nebraska|             6|
|            Delaware|             6|
|              Hawaii|             5|
|District Of Columbia|             5|
|      Virgin Islands|             4|
+--------------------+--------------+

In [4]:
!!time python ./P1/spark_df_p1.py > ./P1/p1.result

['21/12/22 17:20:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 2:============================================>              (3 + 1) / 4]',
 '[Stage 3:===>                                                    (13 + 9) / 200]',
 '[Stage 3:========>                                               (31 + 9) / 200]',
 '[Stage 3:===============>                                        (54 + 8) / 200]',
 '[Stage 3:================>                                       (59 + 8) / 200]',
 '[Stage 3:=====================>                                  (78 + 9) / 200]',
 '[Stage 3:===========================>                           (101 + 9) / 200]',
 '[Stage 3:=================================>                     (122 + 8) / 200]',
 '[Stage 3:=========================================>             (151 + 8) / 200]',
 '[Stage 3:================================================>      (176 + 9) / 200]',
 '[Stage 3:======================================================>(198 + 2) / 200]',
 '[Stage 4:===================================>                   (130 + 9) / 200]',
 '[Stage 4:=================================================>     (180 + 8) / 200]',
 '                                                                                ',
 'real\t0m21.589s',
 'user\t0m1.296s',
 'sys\t0m1.014s']

In [5]:
!cat ./P1/p1.result

+--------------------+--------------+
|               state|Nr of Monitors|
+--------------------+--------------+
|          California|           162|
|               Texas|           132|
|           Minnesota|            94|
|                Ohio|            89|
|            Michigan|            84|
|            New York|            66|
|      South Carolina|            64|
|        Pennsylvania|            60|
|             Montana|            60|
|             Indiana|            52|
|            Colorado|            51|
|            Illinois|            50|
|             Florida|            50|
|      North Carolina|            49|
|          Washington|            42|
|           Louisiana|            40|
|             Arizona|            38|
|              Kansas|            37|
|             Georgia|            34|
|              Oregon|            31|
|            Kentucky|            30|
|             Alabama|            28|
|           Tennessee|            27|
|           Wisconsin|            24|
|          New Jersey|            24|
|             Vermont|            22|
|         Mississippi|            21|
|               Maine|            21|
|            Oklahoma|            20|
|            Virginia|            20|
|       Massachusetts|            19|
|                Iowa|            18|
|            Maryland|            17|
|          New Mexico|            17|
|               Idaho|            17|
|   Country Of Mexico|            16|
|         Connecticut|            15|
|            Missouri|            15|
|                Utah|            12|
|       New Hampshire|            12|
|        Rhode Island|            12|
|              Alaska|            12|
|       West Virginia|            10|
|            Arkansas|            10|
|             Wyoming|             9|
|              Nevada|             8|
|        South Dakota|             7|
|        North Dakota|             7|
|         Puerto Rico|             6|
|            Nebraska|             6|
|            Delaware|             6|
|District Of Columbia|             5|
|              Hawaii|             5|
|      Virgin Islands|             4|
+--------------------+--------------+

### P2

In [ ]:
# %load ./P2/spark_df_p2.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( county_name = arr[25], state_code = arr[0], county_code = arr[1], arithmetic_mean = float(arr[16])))
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF.createOrReplaceTempView("log")
    
    # Necessary computations to solve the problem
    finalDF = logRowsDF.withColumn('county', (col('state_code')+col('county_code'))) \
                    .drop('state_code') \
                    .drop('county_code') \
                    .groupBy('county','county_name').sum('arithmetic_mean') \
                    .withColumnRenamed('sum(arithmetic_mean)', 'pollutant_levels') \
                    .orderBy(col('pollutant_levels').desc()) \
                    .drop('county') \

    finalDF.show(20)
    sc.stop()
    
except Exception as err:
    print(err)
    sc.stop()

In [7]:
!!time python ./P2/spark_df_p2.py > ./P2/p2.result

['21/12/22 17:20:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 3:============>                                           (43 + 8) / 200]',
 '[Stage 3:==================>                                     (67 + 8) / 200]',
 '[Stage 3:=========================>                              (92 + 9) / 200]',
 '[Stage 3:===============================>                       (115 + 8) / 200]',
 '[Stage 3:======================================>                (139 + 9) / 200]',
 '[Stage 3:=============================================>         (166 + 9) / 200]',
 '[Stage 3:====================================================>  (192 + 8) / 200]',
 '                                                                                ',
 'real\t0m17.805s',
 'user\t0m1.240s',
 'sys\t0m0.938s']

In [8]:
!cat ./P2/p2.result

+--------------+------------------+
|   county_name|  pollutant_levels|
+--------------+------------------+
|        Harris| 16540.68687000023|
|         Wayne|11747.949338000006|
|   Los Angeles| 8833.365818000002|
|        Tipton|            5112.0|
|       El Paso| 4798.531819999982|
|          Lake|       4751.710437|
|          Cook| 3990.635898999992|
|     Jefferson| 3612.966027999982|
|  Philadelphia|       3073.943222|
|          Kern| 2715.872453999995|
|        Fresno|2287.9766509999945|
|    Columbiana|        2208.32153|
|    Providence|2192.0918579999993|
|     Riverside| 2142.845549999996|
|St. Louis City|2068.8462899999986|
|        Dallas|2013.5995819999957|
|     San Diego|1955.4988399999966|
|     Multnomah|1891.2379399999995|
|        DeKalb|1758.4259430000002|
|      Hennepin|1687.0018299999977|
+--------------+------------------+
only showing top 20 rows

### P3

In [9]:
# %load ./P3/spark_df_p3.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr : Row( Year = arr[11][:4], State = arr[24], Arithmetic_mean = float(arr[16])))
    
    logRowsDF = spark.createDataFrame( logRows )
    
    logRows2DF = logRowsDF.select('State','Year','Arithmetic_mean')\
                                                           .groupBy('Year','State')\
                                                           .agg((sum('Arithmetic_mean')/count('Arithmetic_mean')).alias('Avg Pollutants'))\
                                                           .sort('Avg Pollutants', ascending = False)
                                                                    
    
    logRows2DF.show(200,truncate=50)
    
    sc.stop()
except Exception as e:
    print(e)
    sc.stop()

+----+--------------------+------------------+
|Year|               State|    Avg Pollutants|
+----+--------------------+------------------+
|1990|           Tennessee|170.40093066666665|
|1995|   Country Of Mexico|              8.46|
|2001|            Michigan| 4.506138716367713|
|1993|       Massachusetts| 4.305833285714285|
|2017|            Colorado|4.2250000000000005|
|1990|             Indiana| 4.098978378378379|
|1992|            Illinois| 3.911825163398692|
|1994|       Massachusetts|3.4609906122448977|
|1995|           Louisiana| 3.364348865853659|
|1994|        Rhode Island|3.3635714000000005|
|1996|             Alabama| 3.226314057971015|
|1993|         Connecticut|3.0975461538461535|
|1990|       Massachusetts|3.0246823529411766|
|1994|           Wisconsin|2.9504833333333336|
|1993|             Indiana|2.8972258064516128|
|1995|        Rhode Island|2.7313043478260868|
|1993|            Delaware|          2.723077|
|1992|             Indiana|2.6606363636363635|
|1993|        Pennsylvania|2.5750862068965517|
|1995|District Of Columbia|2.5047463333333333|
|1995|           Wisconsin|2.5022444333333334|
|1998|           Wisconsin|2.4918918918918918|
|1998|         Connecticut|2.3851474516129034|
|1993|   Country Of Mexico|              2.38|
|1995|         Connecticut|2.2217777749999996|
|1995|       Massachusetts|2.2107647272727275|
|1993|           Louisiana|2.1176116250000003|
|1992|       Massachusetts|2.1174999999999997|
|1997|         Connecticut|        2.09315096|
|1995|      North Carolina|2.0843603636363635|
|1994|            Delaware|          2.082609|
|1990|             Montana|2.0686790073529413|
|2016|      South Carolina| 2.062485576923077|
|1997|        Rhode Island|        2.03347144|
|1999|          California|1.9116508577648772|
|1996|        Pennsylvania|1.9112836666666666|
|1999|           Wisconsin|1.8989440344827586|
|2013|                Ohio| 1.858735447154472|
|1997|          New Jersey|1.8481895609756098|
|2006|         Puerto Rico|1.8463026666666666|
|2004|   Country Of Mexico|1.8227272727272732|
|1998|       Massachusetts|1.8213961445783133|
|2003|   Country Of Mexico|1.8089999999999997|
|1994|        Pennsylvania|1.8054421904761901|
|1994|             Alabama|1.7862802040816326|
|2000|             Georgia|1.7784729333333336|
|2000|         Connecticut|1.7584616363636365|
|2007|           Louisiana| 1.705220930232558|
|1996|        Rhode Island|1.7016831034482756|
|2005|   Country Of Mexico|1.6990322580645159|
|1997|           Wisconsin| 1.671547595238095|
|1991|             Indiana|1.6614237288135594|
|1996|       Massachusetts|1.6282544833333332|
|1997|          California|1.6016017594670395|
|1996|             Montana|1.6004670833333339|
|1999|             Georgia|1.5956955925925924|
|1992|         Connecticut|            1.5926|
|1995|          California| 1.587400337876614|
|1997|       Massachusetts| 1.562034396551724|
|1998|          California|1.5568169675745778|
|1998|              Kansas|1.5540454545454545|
|1999|              Oregon|1.5218113372093023|
|1990|               Texas|1.4824716546762589|
|1996|               Texas| 1.481970256559767|
|1996|          California|1.4724994675658305|
|1995|        Pennsylvania| 1.466416666666667|
|1997|        Pennsylvania|1.4504485112781955|
|1997|      North Carolina|1.3985104938271604|
|1993|             Alabama|1.3672750000000002|
|1990|            New York| 1.362972027972028|
|1996|           Louisiana| 1.355698924731183|
|1996|      North Carolina|1.3548035955056181|
|1992|               Texas|1.3476657142857142|
|2016|                Utah|1.3463211180124222|
|1998|   Country Of Mexico|        1.34476125|
|1999|       Massachusetts|1.3221718219178082|
|1996|           Wisconsin| 1.309747846153846|
|2008|             Indiana|1.3090953023839393|
|1997|               Texas| 1.302157374903773|
|2004|            Michigan|1.2914282101359706|
|1990|             Florida|1.2765626315789476|
|1995|            Delaware|1.2724416666666667|
|1995|             Indiana|1.2713646853932583|
|2006|   Country Of Mexico|1.2554999999999998|
|2010|            Michigan|1.2337054013377924|
|2011|            Michigan|1.2318182529118133|
|1998|            New York|1.2225324434389142|
|2007|            Kentucky|1.2216650922509225|
|1999|         Connecticut|1.2134863055555556|
|1995|               Texas|1.2043757397820163|
|1996|         Connecticut|1.2037766818181816|
|2000|          California|1.2019926832034018|
|1991|           Louisiana|1.2000000000000002|
|1998|      North Carolina|1.1941412244897958|
|1995|             Alabama|1.1800432307692308|
|1999|        Pennsylvania|1.1628983693693695|
|1990|              Kansas|1.1408154574132492|
|2008|   Country Of Mexico|1.1300000000000001|
|1999|          New Jersey|1.1121644444444443|
|1997|   Country Of Mexico|1.0841138461538462|
|2001|         Connecticut|1.0823765135135135|
|1998|District Of Columbia|1.0817739134615383|
|1999|               Texas|1.0741333598937588|
|1998|          New Jersey|1.0665494423076924|
|1996|              Kansas|1.0642214983713354|
|1995|             Vermont|1.0633715555555556|
|2007|         Puerto Rico|1.0607659574468085|
|1996|District Of Columbia|1.0578782558139534|
|2001|             Georgia|1.0537002285714285|
|2006|             Indiana| 1.050538696793003|
|1991|          New Jersey|1.0485551612903226|
|1997|            Delaware|1.0334008333333333|
|2006|               Idaho|          1.033325|
|2010|            Missouri|1.0231933072289154|
|2006|            Kentucky| 1.017392385620915|
|1994|          New Jersey| 1.007733870967742|
|1997|              Kansas|1.0027431457431455|
|2017|                Iowa|1.0000000000000002|
|1999|            Delaware|        0.99390775|
|1999|      North Carolina| 0.992378064516129|
|1998|               Texas|0.9747062874551973|
|2015|             Indiana|0.9672470988372093|
|1994|               Texas|0.9557173289085547|
|1994|            Maryland|0.9504381768292685|
|1994|            New York|0.9327445387931034|
|1998|            Maryland|0.9307643161290325|
|1996|            Delaware|0.9297036666666667|
|2012|            Michigan| 0.927220773263434|
|2002|           Louisiana|0.9239261703703704|
|1991|              Kansas|0.9181956521739129|
|1996|            Maryland|0.9161805242718445|
|1990|           Louisiana|0.9145945945945947|
|2000|              Oregon|0.9132621476510068|
|1994|             Vermont|0.9107219230769231|
|2017|            Michigan|0.9084801111111112|
|1994|         Connecticut|0.9070260000000001|
|1994|           Louisiana|0.9058858267716535|
|2009|            Missouri|0.8995077126760562|
|2003|                Utah|0.8971077394636016|
|1998|            Delaware|          0.893892|
|1992|             Montana|0.8909444329896907|
|1991|            New York|0.8852830188679243|
|1995|          New Jersey|0.8844046521739131|
|1994|             Indiana|0.8797972972972972|
|2003|            Michigan|0.8732289946091645|
|1992|              Kansas|0.8702934232715009|
|1993|          New Jersey|       0.869104375|
|2000|               Texas|0.8596696420835483|
|1993|            New York|0.8594253164556963|
|2007|   Country Of Mexico|0.8500000000000001|
|1998|           Louisiana|0.8493504901960784|
|1990|            Virginia|0.8451416666666666|
|1998|           Minnesota|0.8419132958199356|
|1999|            Maryland|0.8408113027989824|
|1993|               Texas|0.8399963883495148|
|1998|        Pennsylvania|0.8317814690265487|
|1994|              Kansas| 0.829511201629328|
|1990|District Of Columbia|0.8261508196721312|
|1997|            Michigan|0.8260550468750001|
|2016|                Ohio|0.8234492574257426|
|1997|             Georgia|0.8230147894736843|
|1992|           Wisconsin|0.8223666666666666|
|1996|             Georgia|0.8188608285714285|
|1997|             Vermont|0.8171150568181819|
|1993|            Maryland| 0.815136698630137|
|1995|            Maryland|0.8113920322580643|
|1992|            New York|0.8076014814814815|
|1991|      South Carolina|0.7982056737588653|
|2001|           Minnesota| 0.797084473140496|
|2008|            Missouri| 0.793256408045977|
|2013|            Michigan|0.7897768050314465|
|1997|           Louisiana|0.7879220765550239|
|2008|            Kentucky|0.7837710299003323|
|2008|            Michigan|0.7801809764918627|
|2000|           Louisiana|0.7787628865979382|
|2005|          Washington|0.7727168491321763|
|2005|              Oregon|0.7712280585516178|
|2000|           Minnesota|0.7712091368227733|
|1999|   Country Of Mexico|           0.76935|
|2007|            Missouri|0.7675480685358255|
|1991|             Montana|0.7670011501597445|
|2009|                Ohio|0.7667757239057238|
|2001|         Mississippi|0.7638997590361446|
|2005|            Michigan|0.7622231740696281|
|2000|   Country Of Mexico|          0.760985|
|2015|      South Carolina|0.7524452488687783|
|2005|            Colorado|0.7432493095238096|
|1997|           Minnesota|0.7411755109489051|
|1992|          California|0.7356345798816569|
|1999|           Louisiana| 0.731592203187251|
|1997|            Maryland|0.7291539614147912|
|2007|            Colorado|0.7248768498896249|
|1998|             Indiana| 0.714979888888889|
|2002|District Of Columbia|0.7139394107142857|
|2005|               Texas|0.7083699082278448|
|1994|                Ohio|0.7074822222222221|
|2001|          California|0.7057252906148865|
|2009|            Kentucky| 0.705666809815951|
|2010|            Kentucky| 0.704431238938053|
|1996|          Washington|0.7043738461538461|
+----+--------------------+------------------+
only showing top 200 rows

In [10]:
!!time python ./P3/spark_df_p3.py > ./P3/p3.result

['21/12/22 17:21:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 4) / 4]',
 '                                                                                ',
 '',
 '[Stage 2:>                                                          (0 + 4) / 4]',
 '[Stage 2:==============>                                            (1 + 3) / 4]',
 '[Stage 3:=================>                                      (64 + 9) / 200]',
 '[Stage 3:========================>                               (89 + 9) / 200]',
 '[Stage 3:================================>                     (122 + 10) / 200]',
 '[Stage 3:=======================================>              (146 + 10) / 200]',
 '[Stage 3:============================================>         (165 + 14) / 200]',
 '                                                                                ',
 'real\t0m19.249s',
 'user\t0m1.215s',
 'sys\t0m0.970s']

In [11]:
!cat ./P3/p3.result

+----+--------------------+------------------+
|Year|               State|    Avg Pollutants|
+----+--------------------+------------------+
|1990|           Tennessee|170.40093066666665|
|1995|   Country Of Mexico|              8.46|
|2001|            Michigan| 4.506138716367713|
|1993|       Massachusetts| 4.305833285714285|
|2017|            Colorado|4.2250000000000005|
|1990|             Indiana| 4.098978378378379|
|1992|            Illinois| 3.911825163398692|
|1994|       Massachusetts|3.4609906122448977|
|1995|           Louisiana| 3.364348865853659|
|1994|        Rhode Island|3.3635714000000005|
|1996|             Alabama| 3.226314057971015|
|1993|         Connecticut|3.0975461538461535|
|1990|       Massachusetts|3.0246823529411766|
|1994|           Wisconsin|2.9504833333333336|
|1993|             Indiana|2.8972258064516128|
|1995|        Rhode Island|2.7313043478260868|
|1993|            Delaware|          2.723077|
|1992|             Indiana|2.6606363636363635|
|1993|        Pennsylvania|2.5750862068965517|
|1995|District Of Columbia|2.5047463333333333|
|1995|           Wisconsin|2.5022444333333334|
|1998|           Wisconsin|2.4918918918918918|
|1998|         Connecticut|2.3851474516129034|
|1993|   Country Of Mexico|              2.38|
|1995|         Connecticut|2.2217777749999996|
|1995|       Massachusetts|2.2107647272727275|
|1993|           Louisiana|2.1176116250000003|
|1992|       Massachusetts|2.1174999999999997|
|1997|         Connecticut|        2.09315096|
|1995|      North Carolina|2.0843603636363635|
|1994|            Delaware|          2.082609|
|1990|             Montana|2.0686790073529413|
|2016|      South Carolina| 2.062485576923077|
|1997|        Rhode Island|        2.03347144|
|1999|          California|1.9116508577648772|
|1996|        Pennsylvania|1.9112836666666666|
|1999|           Wisconsin|1.8989440344827586|
|2013|                Ohio| 1.858735447154472|
|1997|          New Jersey|1.8481895609756098|
|2006|         Puerto Rico|1.8463026666666666|
|2004|   Country Of Mexico|1.8227272727272732|
|1998|       Massachusetts|1.8213961445783133|
|2003|   Country Of Mexico|1.8089999999999997|
|1994|        Pennsylvania|1.8054421904761901|
|1994|             Alabama|1.7862802040816326|
|2000|             Georgia|1.7784729333333336|
|2000|         Connecticut|1.7584616363636365|
|2007|           Louisiana| 1.705220930232558|
|1996|        Rhode Island|1.7016831034482756|
|2005|   Country Of Mexico|1.6990322580645159|
|1997|           Wisconsin| 1.671547595238095|
|1991|             Indiana|1.6614237288135594|
|1996|       Massachusetts|1.6282544833333332|
|1997|          California|1.6016017594670395|
|1996|             Montana|1.6004670833333339|
|1999|             Georgia|1.5956955925925924|
|1992|         Connecticut|            1.5926|
|1995|          California| 1.587400337876614|
|1997|       Massachusetts| 1.562034396551724|
|1998|          California|1.5568169675745778|
|1998|              Kansas|1.5540454545454545|
|1999|              Oregon|1.5218113372093023|
|1990|               Texas|1.4824716546762589|
|1996|               Texas| 1.481970256559767|
|1996|          California|1.4724994675658305|
|1995|        Pennsylvania| 1.466416666666667|
|1997|        Pennsylvania|1.4504485112781955|
|1997|      North Carolina|1.3985104938271604|
|1993|             Alabama|1.3672750000000002|
|1990|            New York| 1.362972027972028|
|1996|           Louisiana| 1.355698924731183|
|1996|      North Carolina|1.3548035955056181|
|1992|               Texas|1.3476657142857142|
|2016|                Utah|1.3463211180124222|
|1998|   Country Of Mexico|        1.34476125|
|1999|       Massachusetts|1.3221718219178082|
|1996|           Wisconsin| 1.309747846153846|
|2008|             Indiana|1.3090953023839393|
|1997|               Texas| 1.302157374903773|
|2004|            Michigan|1.2914282101359706|
|1990|             Florida|1.2765626315789476|
|1995|            Delaware|1.2724416666666667|
|1995|             Indiana|1.2713646853932583|
|2006|   Country Of Mexico|1.2554999999999998|
|2010|            Michigan|1.2337054013377924|
|2011|            Michigan|1.2318182529118133|
|1998|            New York|1.2225324434389142|
|2007|            Kentucky|1.2216650922509225|
|1999|         Connecticut|1.2134863055555556|
|1995|               Texas|1.2043757397820163|
|1996|         Connecticut|1.2037766818181816|
|2000|          California|1.2019926832034018|
|1991|           Louisiana|1.2000000000000002|
|1998|      North Carolina|1.1941412244897958|
|1995|             Alabama|1.1800432307692308|
|1999|        Pennsylvania|1.1628983693693695|
|1990|              Kansas|1.1408154574132492|
|2008|   Country Of Mexico|1.1300000000000001|
|1999|          New Jersey|1.1121644444444443|
|1997|   Country Of Mexico|1.0841138461538462|
|2001|         Connecticut|1.0823765135135135|
|1998|District Of Columbia|1.0817739134615383|
|1999|               Texas|1.0741333598937588|
|1998|          New Jersey|1.0665494423076924|
|1996|              Kansas|1.0642214983713354|
|1995|             Vermont|1.0633715555555556|
|2007|         Puerto Rico|1.0607659574468085|
|1996|District Of Columbia|1.0578782558139534|
|2001|             Georgia|1.0537002285714285|
|2006|             Indiana| 1.050538696793003|
|1991|          New Jersey|1.0485551612903226|
|1997|            Delaware|1.0334008333333333|
|2006|               Idaho|          1.033325|
|2010|            Missouri|1.0231933072289154|
|2006|            Kentucky| 1.017392385620915|
|1994|          New Jersey| 1.007733870967742|
|1997|              Kansas|1.0027431457431455|
|2017|                Iowa|1.0000000000000002|
|1999|            Delaware|        0.99390775|
|1999|      North Carolina| 0.992378064516129|
|1998|               Texas|0.9747062874551973|
|2015|             Indiana|0.9672470988372093|
|1994|               Texas|0.9557173289085547|
|1994|            Maryland|0.9504381768292685|
|1994|            New York|0.9327445387931034|
|1998|            Maryland|0.9307643161290325|
|1996|            Delaware|0.9297036666666667|
|2012|            Michigan| 0.927220773263434|
|2002|           Louisiana|0.9239261703703704|
|1991|              Kansas|0.9181956521739129|
|1996|            Maryland|0.9161805242718445|
|1990|           Louisiana|0.9145945945945947|
|2000|              Oregon|0.9132621476510068|
|1994|             Vermont|0.9107219230769231|
|2017|            Michigan|0.9084801111111112|
|1994|         Connecticut|0.9070260000000001|
|1994|           Louisiana|0.9058858267716535|
|2009|            Missouri|0.8995077126760562|
|2003|                Utah|0.8971077394636016|
|1998|            Delaware|          0.893892|
|1992|             Montana|0.8909444329896907|
|1991|            New York|0.8852830188679243|
|1995|          New Jersey|0.8844046521739131|
|1994|             Indiana|0.8797972972972972|
|2003|            Michigan|0.8732289946091645|
|1992|              Kansas|0.8702934232715009|
|1993|          New Jersey|       0.869104375|
|2000|               Texas|0.8596696420835483|
|1993|            New York|0.8594253164556963|
|2007|   Country Of Mexico|0.8500000000000001|
|1998|           Louisiana|0.8493504901960784|
|1990|            Virginia|0.8451416666666666|
|1998|           Minnesota|0.8419132958199356|
|1999|            Maryland|0.8408113027989824|
|1993|               Texas|0.8399963883495148|
|1998|        Pennsylvania|0.8317814690265487|
|1994|              Kansas| 0.829511201629328|
|1990|District Of Columbia|0.8261508196721312|
|1997|            Michigan|0.8260550468750001|
|2016|                Ohio|0.8234492574257426|
|1997|             Georgia|0.8230147894736843|
|1992|           Wisconsin|0.8223666666666666|
|1996|             Georgia|0.8188608285714285|
|1997|             Vermont|0.8171150568181819|
|1993|            Maryland| 0.815136698630137|
|1995|            Maryland|0.8113920322580643|
|1992|            New York|0.8076014814814815|
|1991|      South Carolina|0.7982056737588653|
|2001|           Minnesota| 0.797084473140496|
|2008|            Missouri| 0.793256408045977|
|2013|            Michigan|0.7897768050314465|
|1997|           Louisiana|0.7879220765550239|
|2008|            Kentucky|0.7837710299003323|
|2008|            Michigan|0.7801809764918627|
|2000|           Louisiana|0.7787628865979382|
|2005|          Washington|0.7727168491321763|
|2005|              Oregon|0.7712280585516178|
|2000|           Minnesota|0.7712091368227733|
|1999|   Country Of Mexico|           0.76935|
|2007|            Missouri|0.7675480685358255|
|1991|             Montana|0.7670011501597445|
|2009|                Ohio|0.7667757239057238|
|2001|         Mississippi|0.7638997590361446|
|2005|            Michigan|0.7622231740696281|
|2000|   Country Of Mexico|          0.760985|
|2015|      South Carolina|0.7524452488687783|
|2005|            Colorado|0.7432493095238096|
|1997|           Minnesota|0.7411755109489051|
|1992|          California|0.7356345798816569|
|1999|           Louisiana| 0.731592203187251|
|1997|            Maryland|0.7291539614147912|
|2007|            Colorado|0.7248768498896249|
|1998|             Indiana| 0.714979888888889|
|2002|District Of Columbia|0.7139394107142857|
|2005|               Texas|0.7083699082278448|
|1994|                Ohio|0.7074822222222221|
|2001|          California|0.7057252906148865|
|2009|            Kentucky| 0.705666809815951|
|2010|            Kentucky| 0.704431238938053|
|1996|          Washington|0.7043738461538461|
+----+--------------------+------------------+
only showing top 200 rows

### P4

In [ ]:
# %load ./P4/spark_df_p4.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv')

    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[0], name = arr[1], minLat = float(arr[2]), \
                                            maxLat = float(arr[3]), minLon = float(arr[4]), \
                                            maxLon = float(arr[5])))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( name = arr[24], Lat = float(arr[5]), Lon = float(arr[6]) ) )    
    
    # Dataframe creation
    logRowsStatesDF = spark.createDataFrame( logRows_states )
    logRowsDF = spark.createDataFrame( logRows )
    logRowsDF = logRowsDF.distinct() # Makes sure we are using different monitors

    # Necessary computations to solve the problem
    finalDF = logRowsStatesDF.withColumn('center_Lat', (col('minLat')+col('maxLat'))/2 ) \
                        .withColumn('center_Lon', (col('minLon')+col('maxLon'))/2 ) \
                        .drop('minLon') \
                        .drop('maxLon') \
                        .drop('minLat') \
                        .drop('maxLat') \
                        .drop('state') \
                        .join(logRowsDF, 'name') \
                        .withColumn('distance', sqrt( pow((col('Lat')-col('center_Lat'))*111,2) + pow((col('Lon')-col('center_Lon'))*111,2) ) ) \
                        .groupBy('name').avg('distance')
    
    finalDF.show(54)

    sc.stop()
    
except Exception as err:
    print(err)
    sc.stop()

In [13]:
!!time python ./P4/spark_df_p4.py > ./P4/p4.result

['21/12/22 17:21:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:>                                                          (0 + 4) / 4]',
 '[Stage 1:==============>                                            (1 + 3) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 4) / 4][Stage 6:>                  (0 + 2) / 2]',
 '[Stage 4:>                  (0 + 4) / 4][Stage 6:===================(2 + 0) / 2]',
 '[Stage 4:>                                                          (0 + 4) / 4]',
 '[Stage 4:==============>                                            (1 + 3) / 4]',
 '[Stage 4:=============================>                             (2 + 2) / 4]',
 '[Stage 5:===============>                                        (55 + 9) / 200]',
 '[Stage 5:======================>                                 (81 + 8) / 200]',
 '[Stage 5:=============================>                         (107 + 8) / 200]',
 '[Stage 5:=====================================>                 (135 + 8) / 200]',
 '[Stage 5:============================================>          (160 + 8) / 200]',
 '[Stage 5:====================================================>  (190 + 8) / 200]',
 '                                                                                ',
 '',
 '[Stage 19:=====================================================> (97 + 3) / 100]',
 '                                                                                ',
 '',
 '[Stage 23:========================================>              (55 + 12) / 75]',
 '                                                                                ',
 'real\t0m22.694s',
 'user\t0m1.306s',
 'sys\t0m0.924s']

In [14]:
!cat ./P4/p4.result

+--------------+------------------+
|          name|     avg(distance)|
+--------------+------------------+
|          Utah| 184.9134304071158|
|        Hawaii|155.73279515048372|
|     Minnesota|195.06827082824813|
|          Ohio|176.18296482931532|
|      Arkansas|157.85010472330006|
|        Oregon|268.85380792326424|
|         Texas| 512.1839891630138|
|  North Dakota|248.42193073262698|
|  Pennsylvania|251.41517634057172|
|   Connecticut|  49.9897454877856|
|      Nebraska| 307.1411826055287|
|       Vermont|504.06323548508084|
|        Nevada|326.28118071973915|
|   Puerto Rico| 32.73151627576544|
|    Washington|219.98044806799825|
|      Illinois| 440.8540143212859|
|      Oklahoma|236.88257437298162|
|Virgin Islands| 73.45806087692814|
|      Delaware| 51.57977048023351|
|        Alaska| 603.6996422410687|
|    New Mexico| 183.1891212852377|
| West Virginia|144.49363881493753|
|      Missouri|234.32953412794035|
|  Rhode Island|22.192520606570366|
|       Georgia|184.34823507347105|
|       Montana|286.83833527569425|
|      Michigan|326.41160648511277|
|      Virginia| 715.4329730260437|
|North Carolina| 179.0940481535698|
|       Wyoming| 283.6405863374747|
|        Kansas|292.07968412967074|
|    New Jersey| 80.74367303780123|
|      Maryland| 89.28759445559285|
|       Alabama|167.57779614651386|
|       Arizona| 178.8757405561217|
|          Iowa| 206.5989410368908|
| Massachusetts|  92.3540125679022|
|      Kentucky|219.95151680752107|
|     Louisiana|173.27631230948313|
|   Mississippi|174.23860998351415|
| New Hampshire|115.62205092346309|
|     Tennessee|235.97614951487606|
|       Florida|336.54491465708315|
|       Indiana| 177.7419577718975|
|         Idaho|  289.635073275631|
|South Carolina|131.49188669764894|
|  South Dakota|365.84513743232617|
|    California| 328.2263813155368|
|      New York| 283.7273398637172|
|     Wisconsin|202.84693007978484|
|      Colorado|180.25974203315081|
|         Maine| 167.7714354141443|
+--------------+------------------+

### P5

In [14]:
# %load ./P5/spark_df_p5.py
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from math import floor

spark = SparkSession.builder.master('local[*]').appName('words').getOrCreate()
sc = spark.sparkContext

try:
    # files
    lines_states = sc.textFile('../data/usa_states.csv')
    lines = sc.textFile('../data/epa_hap_daily_summary-small.csv') # Change the name of the file to what you have it named here
    
    # file mapping
    logRows_states = lines_states.filter( lambda line : len(line) > 0)    \
                    .zipWithIndex() \
                    .filter( lambda x: x[1] > 0) \
                    .map(lambda x: x[0]) \
                    .map( lambda line: line.split(',')) \
                    .map( lambda arr : Row( state = arr[0], name = arr[1], centerLat = (float(arr[2]) + float(arr[3]))/2, \
                                            centerLon = (float(arr[4]) + float(arr[5]))/2))
    logRows = lines.filter( lambda line: len(line) > 0) \
                     .zipWithIndex() \
                     .filter( lambda x: x[1] > 0) \
                     .map(lambda x: x[0]) \
                     .map( lambda line: line.split(',')) \
                     .map( lambda arr: Row( name = arr[24], countyCode = arr[1], siteNum = arr[2], lat = float("{:.3f}".format(float(arr[5]))), lon = float("{:.3f}".format(float(arr[6]))) ) )  
    
    # Creates the dataframes
    logRowsDF = spark.createDataFrame( logRows )
    
    logRows_statesDF = spark.createDataFrame( logRows_states )
    
    
    logRowsDF = logRowsDF.select('name','countyCode','siteNum','lat','lon').distinct()
    
    logRowsDF = logRowsDF.select('name','lat','lon')
    
    
    joinedDF = logRowsDF.join(logRows_statesDF,logRowsDF.name == logRows_statesDF.name,"inner" )
    
    MonitorDF = joinedDF.select((logRowsDF.name).alias('name'),\
                                (logRowsDF.lat).alias('lat'),\
                                (logRowsDF.lon).alias('lon'),\
                                (logRows_statesDF.centerLat).alias('centerLat'),\
                                (logRows_statesDF.centerLon).alias('centerLon')\
                               )
    
    #joinedDF.sort(logRowsDF.name,logRowsDF.countyCode,logRowsDF.siteNum).show(400)
    
    MonitorDF = MonitorDF.withColumn("quadrant", when((col("lat") < col("centerLat")) & (col("lon") < col("centerLon")),'NW')\
                                                 .when((col("lat") < col("centerLat")) & (col("lon") > col("centerLon")),'NE')\
                                                 .when((col("lat") > col("centerLat")) & (col("lon") < col("centerLon")),'SW')\
                                                 .when((col("lat") > col("centerLat")) & (col("lon") > col("centerLon")),'SE')
                                                 
                                    )                              
    
    FinalMonitorDF = MonitorDF.groupBy('name','quadrant').agg(count('quadrant').alias('Nr of Monitors')).sort('name', ascending = True)
    
    FinalMonitorDF.show(400)
    

    sc.stop()
except Exception as err:
    print(err)
    sc.stop()

+--------------+--------+--------------+
|          name|quadrant|Nr of Monitors|
+--------------+--------+--------------+
|       Alabama|      NE|             4|
|       Alabama|      SW|            14|
|       Alabama|      NW|             7|
|       Alabama|      SE|             4|
|        Alaska|      SE|             4|
|        Alaska|      NE|             2|
|        Alaska|      NW|             3|
|        Alaska|      SW|             3|
|       Arizona|      SW|            10|
|       Arizona|      NE|            16|
|       Arizona|      SE|             2|
|       Arizona|      NW|            10|
|      Arkansas|      NW|             5|
|      Arkansas|      NE|             1|
|      Arkansas|      SW|             3|
|      Arkansas|      SE|             2|
|    California|      SE|             2|
|    California|      NE|            68|
|    California|      NW|            15|
|    California|      SW|            84|
|      Colorado|      SE|            24|
|      Colorado|      NE|             4|
|      Colorado|      NW|             5|
|      Colorado|      SW|            18|
|   Connecticut|      SE|             5|
|   Connecticut|      SW|             2|
|   Connecticut|      NW|             8|
|      Delaware|      SW|             4|
|      Delaware|      NW|             2|
|       Florida|      SE|            27|
|       Florida|      NE|            23|
|       Florida|      SW|             5|
|       Georgia|      SE|             4|
|       Georgia|      NW|             5|
|       Georgia|      SW|            20|
|       Georgia|      NE|             5|
|        Hawaii|      SE|             2|
|        Hawaii|      NE|             1|
|        Hawaii|      SW|             2|
|         Idaho|      NW|             7|
|         Idaho|      SW|             7|
|         Idaho|      NE|             3|
|      Illinois|      SE|            32|
|      Illinois|      SW|             2|
|      Illinois|      NW|            15|
|      Illinois|      NE|             1|
|       Indiana|      SW|            18|
|       Indiana|      NE|             8|
|       Indiana|      SE|            18|
|       Indiana|      NW|             8|
|          Iowa|      NE|             8|
|          Iowa|      NW|             4|
|          Iowa|      SE|             6|
|        Kansas|      SE|            18|
|        Kansas|      NE|             9|
|        Kansas|      NW|             8|
|        Kansas|      SW|             2|
|      Kentucky|      SE|            12|
|      Kentucky|      NW|            14|
|      Kentucky|      SW|             3|
|      Kentucky|      NE|             2|
|     Louisiana|      NE|            34|
|     Louisiana|      NW|             1|
|     Louisiana|      SW|             5|
|         Maine|      NE|             6|
|         Maine|      SE|             2|
|         Maine|      SW|             1|
|         Maine|      NW|            12|
|      Maryland|      SE|            16|
|      Maryland|      SW|             1|
| Massachusetts|      SE|            11|
| Massachusetts|      NE|             4|
| Massachusetts|      SW|             4|
|      Michigan|      NE|            69|
|      Michigan|      SW|             3|
|      Michigan|      SE|            11|
|      Michigan|      NW|             1|
|     Minnesota|      NE|            50|
|     Minnesota|      NW|            21|
|     Minnesota|      SW|            12|
|     Minnesota|      SE|            11|
|   Mississippi|      NE|            12|
|   Mississippi|      NW|             5|
|   Mississippi|      SE|             4|
|      Missouri|      NW|             2|
|      Missouri|      SE|             9|
|      Missouri|      SW|             3|
|      Missouri|      NE|             2|
|       Montana|      NW|            36|
|       Montana|      SE|            11|
|       Montana|      SW|            10|
|       Montana|      NE|             4|
|      Nebraska|      SE|             1|
|      Nebraska|      SW|             2|
|      Nebraska|      NE|             3|
|        Nevada|      NE|             5|
|        Nevada|      SW|             2|
|        Nevada|      SE|             2|
| New Hampshire|      NE|             9|
| New Hampshire|      NW|             4|
| New Hampshire|      SE|             1|
|    New Jersey|      SE|            18|
|    New Jersey|      NE|             1|
|    New Jersey|      SW|             1|
|    New Jersey|      NW|             4|
|    New Mexico|      SE|             1|
|    New Mexico|      SW|            12|
|    New Mexico|      NE|             2|
|    New Mexico|      NW|             3|
|      New York|      SW|            16|
|      New York|      NW|             3|
|      New York|      SE|             5|
|      New York|      NE|            42|
|North Carolina|      SE|            26|
|North Carolina|      SW|            19|
|North Carolina|      NE|             5|
|  North Dakota|      SW|             2|
|  North Dakota|      NW|             3|
|  North Dakota|      NE|             1|
|  North Dakota|      SE|             1|
|          Ohio|      SE|            30|
|          Ohio|      NW|            34|
|          Ohio|      NE|            10|
|          Ohio|      SW|            15|
|      Oklahoma|      NE|             2|
|      Oklahoma|      SE|            18|
|      Oklahoma|      SW|             2|
|        Oregon|      SE|             3|
|        Oregon|      NW|            13|
|        Oregon|      NE|             1|
|        Oregon|      SW|            15|
|  Pennsylvania|      SW|             4|
|  Pennsylvania|      NE|            36|
|  Pennsylvania|      SE|             3|
|  Pennsylvania|      NW|            18|
|   Puerto Rico|      SE|             4|
|   Puerto Rico|      SW|             1|
|   Puerto Rico|      NW|             1|
|  Rhode Island|      SE|            12|
|  Rhode Island|      SW|             1|
|South Carolina|      NW|             3|
|South Carolina|      SE|            10|
|South Carolina|      SW|            33|
|South Carolina|      NE|            18|
|  South Dakota|      NE|             4|
|  South Dakota|      NW|             3|
|     Tennessee|      NW|             8|
|     Tennessee|      SE|             8|
|     Tennessee|      SW|             7|
|     Tennessee|      NE|             4|
|         Texas|      SE|            34|
|         Texas|      NE|            72|
|         Texas|      SW|            23|
|         Texas|      NW|             3|
|          Utah|      NE|             3|
|          Utah|      NW|             3|
|          Utah|      SW|             6|
|       Vermont|      NE|             1|
|       Vermont|      SW|            16|
|       Vermont|      NW|             4|
|       Vermont|      SE|             1|
|Virgin Islands|      NW|             6|
|      Virginia|      NE|             8|
|      Virginia|      NW|             4|
|      Virginia|      SE|             8|
|    Washington|      NW|            15|
|    Washington|      SE|             6|
|    Washington|      SW|            20|
|    Washington|      NE|             2|
| West Virginia|      NW|             5|
| West Virginia|      SW|             3|
| West Virginia|      SE|             2|
|     Wisconsin|      NE|            20|
|     Wisconsin|      SE|             2|
|     Wisconsin|      SW|             2|
|     Wisconsin|      NW|             1|
|       Wyoming|      SW|             3|
|       Wyoming|      SE|             2|
|       Wyoming|      NW|             2|
|       Wyoming|      NE|             2|
+--------------+--------+--------------+

In [16]:
!!time python ./P5/spark_df_p5.py > ./P5/p5.result

['21/12/22 17:22:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable',
 "Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties",
 'Setting default log level to "WARN".',
 'To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).',
 '',
 '[Stage 0:>                                                          (0 + 2) / 2]',
 '                                                                                ',
 '',
 '[Stage 1:>                                                          (0 + 4) / 4]',
 '[Stage 1:============================================>              (3 + 1) / 4]',
 '                                                                                ',
 '',
 '[Stage 4:>                  (0 + 2) / 2][Stage 5:>                  (0 + 4) / 4]',
 '[Stage 5:>                                                          (0 + 4) / 4]',
 '[Stage 5:==============>                                            (1 + 3) / 4]',
 '[Stage 5:============================================>              (3 + 1) / 4]',
 '[Stage 6:==========>                                             (38 + 9) / 200]',
 '[Stage 6:=============>                                          (48 + 8) / 200]',
 '[Stage 6:================>                                       (60 + 8) / 200]',
 '[Stage 6:======================>                                 (81 + 8) / 200]',
 '[Stage 6:========================>                               (88 + 8) / 200]',
 '[Stage 6:============================>                          (103 + 8) / 200]',
 '[Stage 6:=================================>                     (123 + 8) / 200]',
 '[Stage 6:=========================================>             (152 + 8) / 200]',
 '[Stage 6:================================================>      (178 + 8) / 200]',
 '[Stage 7:==============>                                        (53 + 10) / 200]',
 '[Stage 7:==========================>                             (94 + 8) / 200]',
 '[Stage 7:======================================>                (140 + 8) / 200]',
 '[Stage 7:=============================================>         (166 + 8) / 200]',
 '                                                                                ',
 'real\t0m23.368s',
 'user\t0m1.173s',
 'sys\t0m1.139s']

In [17]:
!cat ./P5/p5.result

+--------------+--------+--------------+
|          name|quadrant|Nr of Monitors|
+--------------+--------+--------------+
|       Alabama|      NW|             7|
|       Alabama|      NE|             5|
|       Alabama|      SE|             5|
|       Alabama|      SW|            14|
|        Alaska|      NW|             3|
|        Alaska|      SE|             4|
|        Alaska|      NE|             2|
|        Alaska|      SW|             3|
|       Arizona|      SW|            10|
|       Arizona|      SE|             2|
|       Arizona|      NE|            16|
|       Arizona|      NW|            10|
|      Arkansas|      NW|             5|
|      Arkansas|      SE|             2|
|      Arkansas|      SW|             3|
|      Arkansas|      NE|             1|
|    California|      NE|            68|
|    California|      SW|            84|
|    California|      NW|            16|
|    California|      SE|             2|
|      Colorado|      SW|            17|
|      Colorado|      NE|             4|
|      Colorado|      SE|            25|
|      Colorado|      NW|             5|
|   Connecticut|      NW|             8|
|   Connecticut|      SW|             2|
|   Connecticut|      SE|             5|
|      Delaware|      SW|             4|
|      Delaware|      NW|             2|
|       Florida|      NE|            23|
|       Florida|      SE|            27|
|       Florida|      SW|             5|
|       Georgia|      NW|             5|
|       Georgia|      NE|             5|
|       Georgia|      SE|             4|
|       Georgia|      SW|            21|
|        Hawaii|      NE|             1|
|        Hawaii|      SE|             2|
|        Hawaii|      SW|             2|
|         Idaho|      NE|             3|
|         Idaho|      SW|             7|
|         Idaho|      NW|             7|
|      Illinois|      NW|            15|
|      Illinois|      SW|             2|
|      Illinois|      SE|            32|
|      Illinois|      NE|             1|
|       Indiana|      NE|             8|
|       Indiana|      SW|            18|
|       Indiana|      NW|             8|
|       Indiana|      SE|            18|
|          Iowa|      NE|             8|
|          Iowa|      SE|             6|
|          Iowa|      NW|             4|
|        Kansas|      NW|             8|
|        Kansas|      NE|             9|
|        Kansas|      SE|            18|
|        Kansas|      SW|             2|
|      Kentucky|      SE|            13|
|      Kentucky|      SW|             3|
|      Kentucky|      NW|            16|
|      Kentucky|      NE|             2|
|     Louisiana|      NE|            36|
|     Louisiana|      NW|             1|
|     Louisiana|      SW|             5|
|         Maine|      NE|             6|
|         Maine|      SE|             2|
|         Maine|      NW|            12|
|         Maine|      SW|             1|
|      Maryland|      SE|            16|
|      Maryland|      SW|             1|
| Massachusetts|      NE|             4|
| Massachusetts|      SE|            11|
| Massachusetts|      SW|             4|
|      Michigan|      NE|            74|
|      Michigan|      NW|             1|
|      Michigan|      SE|            14|
|      Michigan|      SW|             3|
|     Minnesota|      NE|            50|
|     Minnesota|      SW|            12|
|     Minnesota|      NW|            21|
|     Minnesota|      SE|            11|
|   Mississippi|      NE|            12|
|   Mississippi|      NW|             5|
|   Mississippi|      SE|             4|
|      Missouri|      NE|             3|
|      Missouri|      SE|             9|
|      Missouri|      NW|             2|
|      Missouri|      SW|             4|
|       Montana|      NE|             5|
|       Montana|      NW|            36|
|       Montana|      SE|            11|
|       Montana|      SW|            10|
|      Nebraska|      SW|             2|
|      Nebraska|      NE|             3|
|      Nebraska|      SE|             1|
|        Nevada|      NE|             5|
|        Nevada|      SE|             2|
|        Nevada|      SW|             2|
| New Hampshire|      NW|             4|
| New Hampshire|      NE|            11|
| New Hampshire|      SE|             2|
|    New Jersey|      NW|             4|
|    New Jersey|      NE|             1|
|    New Jersey|      SE|            18|
|    New Jersey|      SW|             1|
|    New Mexico|      NW|             3|
|    New Mexico|      NE|             2|
|    New Mexico|      SW|            12|
|    New Mexico|      SE|             1|
|      New York|      NE|            43|
|      New York|      NW|             3|
|      New York|      SE|             5|
|      New York|      SW|            16|
|North Carolina|      NE|             5|
|North Carolina|      SW|            19|
|North Carolina|      SE|            26|
|  North Dakota|      NW|             3|
|  North Dakota|      SW|             2|
|  North Dakota|      NE|             1|
|  North Dakota|      SE|             1|
|          Ohio|      NW|            36|
|          Ohio|      SE|            30|
|          Ohio|      SW|            15|
|          Ohio|      NE|            10|
|      Oklahoma|      SW|             2|
|      Oklahoma|      NE|             2|
|      Oklahoma|      SE|            18|
|        Oregon|      SW|            15|
|        Oregon|      NW|            13|
|        Oregon|      SE|             3|
|        Oregon|      NE|             1|
|  Pennsylvania|      NE|            36|
|  Pennsylvania|      SE|             3|
|  Pennsylvania|      SW|             4|
|  Pennsylvania|      NW|            18|
|   Puerto Rico|      SE|             4|
|   Puerto Rico|      SW|             1|
|   Puerto Rico|      NW|             1|
|  Rhode Island|      SE|            12|
|  Rhode Island|      SW|             1|
|South Carolina|      NE|            18|
|South Carolina|      SW|            33|
|South Carolina|      NW|             3|
|South Carolina|      SE|            10|
|  South Dakota|      NE|             4|
|  South Dakota|      NW|             3|
|     Tennessee|      SW|             9|
|     Tennessee|      NW|             8|
|     Tennessee|      SE|             8|
|     Tennessee|      NE|             4|
|         Texas|      NE|            72|
|         Texas|      NW|             3|
|         Texas|      SE|            34|
|         Texas|      SW|            24|
|          Utah|      NE|             3|
|          Utah|      NW|             3|
|          Utah|      SW|             6|
|       Vermont|      NE|             1|
|       Vermont|      SW|            16|
|       Vermont|      NW|             5|
|       Vermont|      SE|             1|
|Virgin Islands|      NW|             6|
|      Virginia|      NW|             4|
|      Virginia|      SE|             8|
|      Virginia|      NE|             8|
|    Washington|      NE|             2|
|    Washington|      NW|            15|
|    Washington|      SE|             6|
|    Washington|      SW|            20|
| West Virginia|      SW|             3|
| West Virginia|      NW|             5|
| West Virginia|      SE|             2|
|     Wisconsin|      NE|            21|
|     Wisconsin|      SW|             2|
|     Wisconsin|      NW|             1|
|     Wisconsin|      SE|             2|
|       Wyoming|      SW|             3|
|       Wyoming|      NW|             2|
|       Wyoming|      NE|             2|
|       Wyoming|      SE|             2|
+--------------+--------+--------------+